.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0 25px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    border-top: 1px solid $lighter-gray-color;

    .disabled > a {
        background: none;
    }

    &.tab-pagination {
        > li {
            height: 40px;

            > a {
                height: 40px;
                line-height: 40px;
            }
        }
    }

    > li {
        display: block;
        height: 30px;
        width: 30px;

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            color: $dark-blue-color;
            background: none;
            border: none;
            transition: .2s;

            &[disabled], &[disabled="disabled"] {
                pointer-events: none;
            }
        }
        
        &.active {
            > a {
                background-color: $main-active-color;
                color: #fff;

                &:hover {
                    background-color: $main-active-hover-color;
                }
            }    
        }

        &.pagination-next, &.pagination-prev {
            width: 45px;

            > a {
                position: relative;
                font-size: 0;
                line-height: 0;
                width: 45px;
                color: $dark-blue-color;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    width: 8px;
                    height: 2px;
                    background-color: $dark-blue-color;
                }

                &::before {
                    transform: rotate(45deg) translateX(-50%) translateY(1px);
                }

                &::after {
                    transform: rotate(-45deg) translateX(-50%) translateY(-1px);
                }
                
                &[disabled='disabled'] {
                    &::before, &::after {
                        background-color: $calendar-gray-color;
                    }
                }
            }
        }

        &.pagination-prev {
            > a {
                transform: scale(-1, 1);
            }
        }
    }
}