md-progress-circular {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);

    .md-spinner-wrapper {
        animation: outer-rotate 2.91667s linear infinite;
    }

    .md-spinner-wrapper {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;

        .md-inner {
            width: 100px;
            height: 100px;
            position: relative;
            animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;

            .md-gap {
                position: absolute;
                left: 49px;
                right: 49px;
                top: 0;
                bottom: 0;
                border-top-width: 10px;
                border-top-style: solid;
                box-sizing: border-box;
                border-top-color: $deep-blue-color;
                border-bottom-color: $deep-blue-color;

                .md-right, .md-left {
                    position: absolute;
                    top: 0;
                    height: 100px;
                    width: 50px;
                    overflow: hidden;

                    .md-half-circle {
                        position: absolute;
                        top: 0;
                        width: 100px;
                        height: 100px;
                        box-sizing: border-box;
                        border-width: 10px;
                        border-style: solid;
                        border-bottom-color: rgba(0, 0, 0, 0);
                        border-radius: 50%;
                        border-top-color: $deep-blue-color;
                        animation-iteration-count: infinite;
                        animation-duration: 1.3125s;
                        animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
                    }
                }

                .md-left {
                    left: 0;

                    .md-half-circle {
                        animation-name: left-wobble;
                        left: 0;
                        border-right-color: rgba(0, 0, 0, 0);
                        border-left-color: $deep-blue-color;
                    }
                }

                .md-right {
                    right: 0;

                    .md-half-circle {
                        animation-name: right-wobble;
                        right: 0;
                        border-left-color: rgba(0, 0, 0, 0);
                        border-right-color: $deep-blue-color;
                    }
                }
            }
        }
    }
}

@keyframes outer-rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5);
        transform: rotate(0deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(0.5);
        transform: rotate(360deg) scale(0.5);
    }
}

@keyframes sporadic-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes right-wobble {
    0%, 100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}

@keyframes left-wobble {
    0%, 100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}