.quick-ship-details {

    .quick-ship-items {
        width: 100%;
    }

    .shipment-summary {
        .gender-icon {
            margin-left: 7px;

            md-icon {
                @include size(14px, 14px);
            }
        }

        .vertical-divider {
            margin: 0 7px;
        }
    }
}
