<div class="modal-window change-inprogress-status-modal">

    <a href="javascript:void(0);" ng-click="$ctrl.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon modal-icon-red"
                 md-svg-src="assets/images/default/trash.svg"
        ></md-icon>

        <div class="modal-title">
            <h2>Delete selected items?</h2>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button"
                   ng-click="$ctrl.cancel()"
        >Cancel</md-button>

        <md-button class="md-raised delete-btn main-button"
                   ng-click="$ctrl.remove()"
        >Delete</md-button>
    </md-dialog-actions>

</div>
