<form name="$ctrl.clearForm" class="modal-window copy-modal-window">

    <md-dialog-content class="md-dialog-content">
        <md-radio-group ng-model="$ctrl.typeOfAction" class="radio-with-containers content-radio-btns">
            <md-radio-button ng-value="1" class="md-primary">Current day</md-radio-button>
            <md-radio-button ng-value="2" class="md-primary">
                <div class="row pf_modal_containers">
                    <div class="col-xs-4">
                        <div>Skip</div>
                        <input-number
                                form-name="$ctrl.clearForm"
                                input-name="skip"
                                ng-model="$ctrl.skip"
                                ng-required="$ctrl.typeOfAction==2"
                                min="0"
                                max="99"
                                required-message="Required."
                        ></input-number>
                    </div>
                    <div class="col-xs-4">
                        <div>Take</div>
                        <input-number
                                form-name="$ctrl.clearForm"
                                input-name="take"
                                ng-model="$ctrl.take"
                                ng-required="$ctrl.typeOfAction==2"
                                min="0"
                                max="99"
                                required-message="Required."
                        ></input-number>
                    </div>
                    <div class="col-xs-4">
                        <div class="weeks_down">Days</div>
                    </div>
                </div>
            </md-radio-button>
        </md-radio-group>
    </md-dialog-content>

    <div class="modalFooter">
        <md-button class="md-raised md-primary main-button"
                   ng-click="$ctrl.clearSchedule('day')"
                   ng-disabled="$ctrl.typeOfAction===0 || $ctrl.actionDisabled">
            Clear
        </md-button>
    </div>

</form>
