<div class="patient-prescription-list"
     bs-loading-overlay
     bs-loading-overlay-reference-id="prescriptionList">

    <div infinite-scroll="prescription.getPrescriptions()"
         infinite-scroll-immediate-check="true"
         infinite-scroll-disabled="prescription.prescriptionsListParams.stopLoading"
    >

    <div class="prescription-item"
         ng-repeat="item in prescription.prescriptionsListParams.items track by $index"
         ng-click="prescription.openPrescriptionDetails($event, item.Id)">

        <div class="flex-row">
            <div class="info-block block-width-40-percent">
                <div class="flex-row">
                    <div class="info-block block-width-50-percent">
                        <div class="info-block-label">Effective Date:</div>
                        <div class="info-block-body">
                            {{ item.EffectiveDate
                              ? (item.EffectiveDate | amUtc | amDateFormat: "MM/DD/YYYY")
                              : '-' }}
                        </div>
                    </div>
                    <div class="info-block block-width-50-percent left-divider">
                        <div class="info-block-label">HCPCS:</div>
                        <div class="info-block-body">
                            <div class="w80px"
                                 popover-directive="item.Hcpcs"
                                 hide-first-item="true"
                                 min-width="50"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block block-width-60-percent">
                <div class="flex-row">
                    <div class="info-block block-width-40-percent left-divider">
                        <div class="info-block-label">
                            <span>Created:</span>
                        </div>
                        <div class="info-block-body">
                            {{ item.CreatedOn
                              ? (item.CreatedOn | amUtc | amDateFormat: "MM/DD/YYYY")
                              : '-' }}
                        </div>
                    </div>
                    <div class="info-block grow-1 left-divider">
                        <div class="info-block-label">
                            <span>Modified:</span>
                        </div>
                        <div class="info-block-body">
                            {{ item.ModifiedOn
                               ? (item.ModifiedOn | amUtc | amDateFormat : "MM/DD/YYYY")
                               : '-' }}
                        </div>
                    </div>
                    <div class="info-block grow-1">
                        <div class="info-block-label">
                            <span>Modified by:</span>
                        </div>
                        <div class="info-block-body">
                            {{ item.ModifiedBy ? (item.ModifiedBy | fullname) : '-' }}
                        </div>
                    </div>
                    <div class="prescription-buttons">
                        <prescription-status status-obj="item.Status"></prescription-status>
                        <md-icon class="view-alert-icon"
                                 md-svg-src="assets/images/default/alert.svg"
                                 ng-if="+item.Status.Id === prescription.statuses.prescriptionExpired"
                                 simple-tooltip="<div class='center-text'>Prescription for one or <br> several items is expired</div>"
                                 tooltip-position="bottom"
                                 simple-tooltip-is-html="true">
                        </md-icon>
                        <!--
                            TEMPORARY "prescription-dwo-btn" HIDDEN BECAUSE
                            FUNCTIONALITY CHANGES ARE IN PROGRESS AND NOT CLEAR YET
                        -->
                        <!--<md-button class="prescription-dwo-btn"-->
                                   <!--aria-label="..."-->
                                   <!--ng-click="prescription.openUpdatePrescriptionMenu(item.Activities, item, $event)">-->
                            <!--<md-icon md-svg-src="assets/images/default/document-pencil.svg"></md-icon>-->
                        <!--</md-button>-->
                        <md-icon class="order-signed-icon"
                                 md-svg-src="assets/images/default/monitor-pen.svg"
                                 ng-if="item.IsSigned"
                                 simple-tooltip="Electronically signed by physician"
                                 tooltip-position="bottom">
                        </md-icon>
                        <md-button class="edit-info-icon"
                                   simple-tooltip="Update prescription"
                                   aria-label="..."
                                   ng-click="prescription.updatePrescription($event, item.Id)">
                            <md-icon md-svg-src="assets/images/default/edit-underline.svg"></md-icon>
                        </md-button>
                        <md-button class="delete-icon-btn"
                                   simple-tooltip="Delete prescription"
                                   aria-label="..."
                                   ng-click="prescription.deletePrescription($event, item.Id)">
                            <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div class="info-block block-width-40-percent">
                <div class="flex-row">
                    <div ng-if="item.TreatingProvider.PhysicianName.FullName"
                         class="info-block block-width-50-percent">
                        <div class="info-block-label">Treating Physician:</div>
                        <div class="info-block-body">
                            {{item.TreatingProvider.PhysicianName.FullName}}
                        </div>
                    </div>
                    <div ng-if="item.TreatingProvider.Practice"
                         class="info-block block-width-50-percent"
                         ng-class="{'left-divider': item.TreatingProvider.PhysicianName.FullName}">
                        <div class="info-block-label">Practice:</div>
                        <div class="info-block-body">
                            {{item.TreatingProvider.Practice}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block block-width-60-percent">
                <div class="flex-row">
                    <div class="info-block block-width-40-percent left-divider">
                        <div class="info-block-label">Location:</div>
                        <div class="info-block-body">
                            {{item.TreatingProvider.Location.Address || '-'}}
                        </div>
                    </div>
                    <div class="info-block grow-1 left-divider">
                        <div class="info-block-label">Contacts:</div>
                        <div class="info-block-body flex-cont">
                            <div popover-directive="item.TreatingProvider.Location.Contacts"
                                 is-array-with-type="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <no-records text="Prescriptions"
                ng-if="prescription.firstPageLoaded && prescription.prescriptionsListParams.items.length === 0"
                is-fullpage="true"></no-records>

</div>
