<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
   <urlCompression doDynamicCompression="true" />
 </system.webServer>
 <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store, no-cache, must-revalidate" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
