<div class="flex-row">
    <div class="col-w-30">
        <div class="financial-block" clickOutside (clickOutside)="onClickOutside()">
            <div class="financial-block-header">Balance:</div>
            <div class="financial-block-body">
                <div class="financial-sum">
                    <mat-icon svgIcon="dollar-circle" class="sum-icon"></mat-icon>
                    <div class="sum-number">0.00</div>
                </div>
                <div class="financial-detail">
                    <div class="financial-detail-title">
                        <mat-icon svgIcon="document" class="insurance-icon"></mat-icon>
                        Insurance:
                    </div>
                    <div class="financial-detail-number">$ 0.00</div>
                </div>
                <div class="financial-detail">
                    <div class="financial-detail-title">
                        <mat-icon svgIcon="user_v2" class="patient-icon"></mat-icon>
                        Patient:
                    </div>
                    <div class="financial-detail-number">$ 0.00</div>
                </div>
            </div>
        </div>
    </div>
</div>