/deep/ app-no-content {
    .no-records {
        justify-content: start !important;
    }
}

.insurance-status-label {
    min-width: 60px;
    margin-top: 22px;
}
.insurance-block-title {
    width: 168px;
}
.info-block-body {
    font-size: 14px;
}