<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="niko-health" value="https://repo.drowz.net/nuget/Default" />
  </packageSources>
  <config>
    <add key="enabled" value="True" />
	<add key="automatic" value="True" />
  </config>
  <packageSourceCredentials>
	  <niko-health>
		<add key="Username" value="nikohealth" />
		<add key="ClearTextPassword" value="sL33py" />
	  </niko-health>
  </packageSourceCredentials>
</configuration>
