<div class="modal-window show-notes-modal">
    <a href="javascript:void(0);" ng-click="modal.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/inventory.svg"></md-icon>

        <div class="modal-title">
            <h2>Notes:</h2>
        </div>

        <md-input-container>
            <label>Notes:</label>
            <textarea cols="1" rows="1" ng-model="modal.currentNote"></textarea>
        </md-input-container>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button" ng-click="modal.cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary main-button" ng-click="modal.save()">Save</md-button>
    </md-dialog-actions>
</div>