<div class="order-item-container">
    <div class="order-item" ng-repeat="item in $ctrl.items track by $index">
        <div class="order-item-header">
            <div class="info-block block-width-100">
                <div class="item-img-container">
                    <img src="" ng-src="{{item.image}}" alt="" class="item-img">
                </div>
            </div>
            <div class="info-block grow-1">
                <div class="flex-row">
                    <div class="info-block grow-1">
                        <div class="info-block-label">Name:</div>
                        <div class="info-block-body flex-cont">
                            {{item.Name}}
                            <md-icon class="equipment-arrow"
                                     ng-if="item.Activated"
                                     md-svg-src="assets/images/default/cloud-arrow.svg">
                            </md-icon>
                            <md-icon class="bundle-icon"
                                     ng-click="$ctrl.showItemDetails($event, item)"
                                     md-svg-src="assets/images/default/bundle-icon.svg"
                                     ng-if="item.Bundle">
                            </md-icon>
                        </div>
                    </div>
                    <div class="info-block block-width-160 left-divider">
                        <div class="info-block-label">Manufacturer:</div>
                        <div class="info-block-body">{{item.Manufacturer}}</div>
                    </div>
                </div>
                <div class="flex-row" ng-if="item.SerialNumber || item.LotNumber">
                    <div class="info-block grow-1">
                        <div class="info-block-label">Serial Number:</div>
                        <div class="info-block-body">{{item.SerialNumber || '-'}}</div>
                    </div>
                    <div class="info-block block-width-160 left-divider" ng-if="item.LotNumber">
                        <div class="info-block-label">Lot Number:</div>
                        <div class="info-block-body">{{item.LotNumber}}</div>
                    </div>
                </div>
            </div>
            <div class="info-block block-width-100 left-divider">
                <div class="info-block-label">Part #:</div>
                <div class="info-block-body">{{item.PartNumber || '-'}}</div>
            </div>
            <div class="info-block block-width-100 left-divider">
                <div class="info-block-label">HCPCS:</div>
                <div class="info-block-body flex-cont">
                    <div popover-directive="item.HcpcsCodes"
                         hide-first-item="true"
                         min-width="50"></div>
                </div>
            </div>
            <div class="info-block block-width-100 left-divider">
                <div class="info-block-label">Qty:</div>
                <div class="info-block-body">{{item.Count}}</div>
            </div>
            <div class="info-block block-width-120 left-divider">
                <div class="info-block-label" ng-if="item.Status.Id != $ctrl.statuses.pending">
                    <span ng-if="item.Status.Id === $ctrl.statuses.backordered">Expected Date:</span>
                    <span ng-if="item.Status.Id === $ctrl.statuses.shipped">Ship Date:</span>
                    <span ng-if="item.Status.Id === $ctrl.statuses.delivered">Delivery Date:</span>
                </div>
                <div class="info-block-body" ng-if="item.Status.Id != $ctrl.statuses.pending">
                    <span ng-if="item.Status.Id === $ctrl.statuses.backordered">{{item.ExpectedDate | localDateTime: "MM/DD/YYYY"}}</span>
                    <span ng-if="item.Status.Id === $ctrl.statuses.shipped">{{item.ShippedDate | localDateTime: "MM/DD/YYYY"}}</span>
                    <span ng-if="item.Status.Id === $ctrl.statuses.delivered">{{item.DeliveryDate | localDateTime: "MM/DD/YYYY"}}</span>
                </div>

                <!-- Show ship date if status is delivered and ShippedDate do not equally  null or undefined START BLOCK -->
                <div class="info-block-label" ng-if="item.Status.Id != $ctrl.statuses.pending">
                    <span ng-if="item.Status.Id === $ctrl.statuses.delivered && item.ShippedDate">Ship Date:</span>
                </div>
                <div class="info-block-body" ng-if="item.Status.Id != $ctrl.statuses.pending">
                    <span ng-if="item.Status.Id === $ctrl.statuses.delivered && item.ShippedDate">{{item.ShippedDate | localDateTime: "MM/DD/YYYY"}}</span>
                </div>
                <!-- Show ship date if status is delivered and ShippedDate do not equally  null or undefined END BLOCK -->

            </div>
            <div class="info-block block-width-120">
                <div class="info-block-body flex-cont"
                     ng-if="item.TrackingSupport"
                >
                    <md-button class="md-raised md-primary small-btn tracking-details-icon"
                               ng-click="$ctrl.showTrackingDetails(item)">
                        <md-icon md-svg-src="assets/images/default/track-in-progress.svg"></md-icon>
                        <span>Track</span>
                    </md-button>
                </div>
            </div>
            <div class="info-block block-width-150">
                <div class="info-block-label"></div>
                <div class="info-block-body flex-cont align-end">
                    <div class="status-label {{item.statusClass}}">{{item.Status.Text}}</div>

                    <md-button class="dropdown-dotted-btn"
                               ng-if="$ctrl.hasActionBtns && item.actions.length"
                               ng-class="{'hidden-btn': item.Status.Id === $ctrl.statuses.delivered}"
                               ng-click="$ctrl.showMenuDropdown(item, $event)"
                               aria-label="..."
                    >
                        <md-icon md-svg-src="assets/images/default/dropdown-menu-dotted.svg"></md-icon>
                    </md-button>

                    <md-button class="delete-icon-btn"
                               aria-label="..."
                               ng-class="{'hidden-btn': item.Status.Id === $ctrl.statuses.delivered}"
                               confirm-ng-click="$ctrl.deleteOrderItem(item.Id)"
                               confirm-msg="'Are you sure you want to delete {0}?'.format(item.Name)"
                               confirm-title="Delete Item?"
                               ng-if="$ctrl.hasDeleteBtns"
                    >
                        <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>

        <div class="flex-row"
             ng-if="item.Notes"
        >
            <div class="grow-1">
                <div class="info-block-body">
                    Note: {{ item.Notes }}
                </div>
            </div>
        </div>

    </div>
</div>
