.inventory-products {
    .breadcrumbs {
        position: relative;
        background-color: rgba($dark-gray-color, 0.1);

        drowz-tabs {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 420px;
            background-color: transparent;

            .drowz-tabs-link {
                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.product-page {
    .hidden-validation-input {
        margin-top: -7px;

        > input {
            display: none;
        }
    }

    .product-picture-block {
        .product-picture-container {
            position: relative;

            .product-picture {
                width: 347px;
                height: 347px;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }

            .file-uploader-input {
                visibility: hidden;
                width: 0;
                height: 0;
                overflow: hidden;
            }

            .edit-product-btn {
                margin-top: 15px;
                margin-left: 0;
            }
        }

        .product-picture-block {
            .delete-icon-btn {
                margin-right: 5px;
            }
        }
    }

    .service-required-checkbox {
        margin-bottom: 0;
    }

    file-upload {
        .md-button {
            margin-top: 20px;
            margin-left: 0;
        }
    }
}

/*.show-more-btn {
    text-align: center;
    color: #06aed5;
    margin-top: 15px;
    margin-bottom: 15px;
}*/
