<div class="toolbar-container" #toolbarContainer>
  <div class="action-buttons-container"
       [ngClass]="{ 'menu-open' : isMenuOpen }">
    <button class="action-button"
            *ngFor="let menuItem of toolbarActions"
            (click)="switchMenuStatus(); menuItem.clickFunction();"
            [ngClass]="{ 'hiddenMenuItem' : menuItem.isHidden }">
      <mat-icon svgIcon="{{ menuItem.svgIcon }}"
                [ngStyle]="{
                  'width.px': menuItem.icon.w,
                  'height.px': menuItem.icon.h,
                  'min-width.px': menuItem.icon.w,
                  'min-height.px': menuItem.icon.h
                }"></mat-icon>
      <span class="button-text"> {{ menuItem.text }} </span>
    </button>
  </div>
  <button class="plus-button-icon"
          (click)="switchMenuStatus()"
          [ngClass]="{ 'close-button-icon' : isMenuOpen }">
    <mat-icon svgIcon="plusIcon"></mat-icon>
  </button>
</div>
