<div class="modal-window confirm-modal">
    <md-toolbar class="modal-title">
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <a href="javascript:void(0);" ng-click="cancel()" class="close-modal"></a>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="modal-padding" style="text-align: center;">
            {{ msg }}
        </div>
    </md-dialog-content>
    <md-dialog-actions class="modalFooter confirm-footer" layout="row" layout-align="space-between center">
        <md-button class="md-raised" ng-click="cancel()">{{btn_cancel}}</md-button>
        <md-button class="md-primary md-raised" ng-click="ok()">{{btn_ok}}</md-button>
    </md-dialog-actions>
</div>
