<mat-accordion class="niko-accordion">
    <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'24px'" [expandedHeight]="'24px'">
            <mat-panel-title class="accordion-header">
                <mat-icon svgIcon="chevron" class="accordion-chevron"></mat-icon>
                Personal data:
                <div class="accordion-line"></div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <mat-form-field>
                <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Age">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Age">
            </mat-form-field>
        </p>
    </mat-expansion-panel>
</mat-accordion>
