<div class="modal-window adjust-modal"
     ng-form="$ctrl.modalForm"
     ng-class="{'edit-adjust-modal': $ctrl.isEdit}"
     bs-loading-overlay
     bs-loading-overlay-reference-id="modalOverlay">

    <a href="javascript:void(0);" ng-click="$ctrl.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/list.svg"></md-icon>

        <div class="modal-title">
            <h2>Adjust:</h2>
        </div>

        <div class="adjustment-list">
            <div class="adjustment-item"
                 ng-repeat="item in $ctrl.adjustments track by $index"
                 ng-init="parentIndex = $index"
            >
                <div class="item-counter" ng-if="!$ctrl.isEdit">{{ parentIndex + 1 }}.</div>
                <md-button class="delete-icon-btn"
                           aria-label="..."
                           ng-if="$ctrl.adjustments.length && !$ctrl.isEdit"
                           ng-click="$ctrl.removeAdjustment(parentIndex)">
                    <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                </md-button>
                <div class="flex-row row">
                    <div class="col-xs-4">
                        <md-input-container>
                            <label>Date:</label>
                            <input ng-model="item.Date"
                                   datetimepicker
                                   use-current="false"
                                   format="MM/DD/YYYY"
                                   show-today-button="false"
                                   name="date-{{ parentIndex }}"
                                   ng-required="true"
                            />
                            <div ng-messages="$ctrl.modalForm['date-' + parentIndex].$error"
                                 class="md-input-messages-nice">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-3">
                        <md-input-container class="currency-container">
                            <div class="currency-icon">{{ item.Amount.Currency }}</div>
                            <label>Amount:</label>
                            <input type="number"
                                   step="0.01"
                                   name="amount-{{ parentIndex }}"
                                   ng-required="true"
                                   ng-model="item.Amount.Amount"
                                   price-validator
                            >
                            <div ng-messages="$ctrl.modalForm['amount-' + parentIndex].$error"
                                 class="md-input-messages-nice"
                            >
                                <div ng-message="required">This field is required</div>
                                <div ng-message="price">Max 2 digits after point</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-9">
                        <md-input-container>
                            <label>Provider Ref Id:</label>
                            <input type="text"
                                   ng-model="item.ProviderRefId"
                                   name="providerRefId-{{ parentIndex }}" />
                        </md-input-container>
                    </div>
                </div>
                <div class="flex-row row">
                    <div class="col-xs-12">

                        <md-autocomplete-with-infinite-scroll md-no-cache="true"
                                                              md-selected-item="item.PLBCode"
                                                              md-search-text="searchAdjustment"
                                                              md-items="item in $ctrl.getProviderLevelAdjustments(searchAdjustment, pageIndex)"
                                                              md-item-text="item.Name + ' - ' + item.Description"
                                                              md-min-length="0"
                                                              ng-required="true"
                                                              md-floating-label="Adjustment:"
                                                              md-input-name="adjustment"
                                                              clear-on-click
                                                              md-require-match="true"
                        >
                            <md-item-template>
                                <span md-highlight-flags="^i" title="{{ item.Name + ' - ' + item.Description }}">{{ item.Name + ' - ' + item.Description }}</span>
                            </md-item-template>

                            <md-not-found>
                                No Adjustments were found
                            </md-not-found>

                            <div ng-messages="$ctrl.modalForm['adjustment-' + parentIndex].$error"
                                 class="md-input-messages-nice">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="md-require-match">Adjustment is not valid</div>
                            </div>
                        </md-autocomplete-with-infinite-scroll>


                    </div>
                </div>
            </div>
            <div class="marg-top-15">
                <md-button class="md-raised middle-btn add-new-contact"
                           ng-click="$ctrl.addAdjustment()"
                           ng-if="!$ctrl.isEdit"
                >
                    <md-icon md-svg-src="assets/images/default/plus.svg"></md-icon>
                    Add Adjustment
                </md-button>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary main-button"
                   ng-click="$ctrl.save()">
            Save
        </md-button>
    </md-dialog-actions>

</div>
