<div class="infinite-scroll-bg facility-view full-height-with-footer"
     bs-loading-overlay
     bs-loading-overlay-reference-id="facilityPage"
     ng-form="facility.facilityForm">

    <div class="top-block">

        <div class="breadcrumbs transparent-bg">
            <a href="javascript:void(0)" ui-sref="root.dashboard">Home</a>
            <a href="javascript:void(0)" ui-sref="root.management">Management</a>
            <a href="javascript:void(0)" ui-sref="root.management.organization">Organization</a>
            <a href="javascript:void(0)" ui-sref="root.management.organization.facilities.list">Facilities</a>
            <a href="javascript:void(0)" class="active">
                <span ng-if="!facility.facilityId">Add</span>
                <span ng-if="facility.facilityId">Edit</span>
                facility
            </a>
        </div>

        <!--DETAILS-->
        <div class="drowz-wizard-body-flex">
            <div class="grow-1">
                <div class="drowz-wizard-block no-float">
                    <div class="drowz-wizard-block-title">
                        <div class="wizard-title-text">Billing Details:</div>
                    </div>

                    <div class="drowz-wizard-block-body">
                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>Name:</label>
                                    <input type="text"
                                           ng-model="facility.model.Name"
                                           name="name"
                                           ng-required="true"
                                           clear-on-click>
                                    <div ng-messages="facility.facilityForm.name.$error"
                                         class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="drowz-wizard-block-row">
                            <div class="col-xs-6">
                                <md-input-container>
                                    <label>Address (line 1):</label>
                                    <input type="text"
                                           ng-model="facility.model.Address.AddressLine"
                                           name="addressLine1"
                                           ng-required="true"
                                           clear-on-click>
                                    <div ng-messages="facility.facilityForm.addressLine1.$error"
                                         class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-6">
                                <md-input-container>
                                    <label>Address (line 2):</label>
                                    <input type="text"
                                           ng-model="facility.model.Address.AddressLine2"
                                           clear-on-click>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="drowz-wizard-block-row">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <md-input-container>
                                            <label>City:</label>
                                            <input type="text"
                                                   name="city"
                                                   ng-model="facility.model.Address.City"
                                                   ng-required="true"
                                                   clear-on-click>
                                            <div ng-messages="facility.facilityForm.city.$error"
                                                 class="md-input-messages-nice">
                                                <div ng-message="required">This field is required</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6">
                                        <input-state-string form-name="facility.facilityForm"
                                                            input-name="state"
                                                            selected-item="facility.model.Address.State"
                                                            add-directives="clear-on-click"
                                                            ng-required="true">
                                        </input-state-string>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <input-zip-string form-name="facility.facilityForm"
                                                  input-name="zip"
                                                  selected-item="facility.model.Address.Zip"
                                                  add-directives="clear-on-click"
                                                  ng-required="true">
                                </input-zip-string>
                            </div>
                        </div>
                        <div class="drowz-wizard-block-row">
                            <div class="col-xs-6">
                                <md-input-container>
                                    <label>NPI:</label>
                                    <input type="text"
                                           ng-model="facility.model.Npi"
                                           name="npi"
                                           ng-maxlength="10"
                                           ng-minlength="10"
                                           ng-pattern="/^[0-9]*$/"
                                           clear-on-click>
                                    <div ng-messages="facility.facilityForm.npi.$error"
                                         class="md-input-messages-nice">
                                        <div ng-message="pattern">NPI number consists only from numbers</div>
                                        <div ng-message="maxlength, minlength">Value should consist of 10 digits.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="info-block">
                                <md-button class="md-raised middle-btn"
                                           ng-click="facility.populateNPI(facility.model.Npi)">
                                    Populate NPI data
                                </md-button>
                                <md-button class="md-raised middle-btn npi-lookup-btn no-margin"
                                           ng-click="facility.npiLookup()">
                                    NPI Lookup
                                </md-button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="flex-360">
                <div class="drowz-wizard-block no-float">
                    <div class="drowz-wizard-block-title">
                        <div class="wizard-title-text">Contacts:</div>
                    </div>
                    <div class="drowz-wizard-block-body">
                        <div class="contacts-container">
                            <organization-contacts
                                selected-contacts="facility.model.Contacts"
                                allow-not-unique-types="false"
                                min-required="1"
                                org-location-required="true"
                                all-contact-types="facility.allContactTypes">
                            </organization-contacts>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--LOCATIONS-->
        <div class="drowz-wizard-body-flex facility-locations">
            <div class="grow-1">
                <div class="drowz-wizard-block no-float">
                    <div class="drowz-wizard-block-title">
                        <div class="wizard-title-text">Delivery Locations:</div>
                    </div>

                    <div class="drowz-wizard-block-body">

                        <!--LOCATIONS LIST-->
                        <v-accordion class="flow-accordion" multiple>
                            <v-pane expanded="true"
                                    ng-repeat="loc in facility.model.Locations track by $index">
                                <v-pane-header class="flow-accordion-title">
                                    <md-icon md-svg-src="assets/images/default/chevron.svg"
                                             class="flow-accordion-title-icon"></md-icon>
                                    <div class="flow-title-text">
                                        <span>Location {{$index + 1}}:</span>
                                    </div>
                                    <div class="accordion-line"></div>
                                    <md-button class="delete-icon-btn delete-location"
                                               aria-label="..."
                                               confirm-ng-click="facility.deleteLocation(loc)"
                                               confirm-msg="'Are you sure you want to delete this location?'"
                                               confirm-title="Delete location">
                                        <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                                    </md-button>
                                </v-pane-header>

                                <v-pane-content>
                                    <div class="flex-row">
                                        <div class="grow-1 pad-30">
                                            <div class="drowz-wizard-block-row">
                                                <div class="col-xs-6">
                                                    <md-input-container>
                                                        <label>Address (line 1):</label>
                                                        <input type="text"
                                                               ng-model="loc.Address.AddressLine"
                                                               name="{{'addressLine1_'+$index}}"
                                                               ng-required="true"
                                                               clear-on-click>
                                                        <div ng-messages="facility.facilityForm['loc_'+$index].addressLine1.$error"
                                                             class="md-input-messages-nice">
                                                            <div ng-message="required">This field is required</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-xs-6">
                                                    <md-input-container>
                                                        <label>Address (line 2):</label>
                                                        <input type="text"
                                                               ng-model="loc.Address.AddressLine2"
                                                               clear-on-click>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <div class="drowz-wizard-block-row">
                                                <div class="col-xs-6">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <md-input-container>
                                                                <label>City:</label>
                                                                <input type="text"
                                                                       name="{{'city_'+$index}}"
                                                                       ng-model="loc.Address.City"
                                                                       ng-required="true"
                                                                       clear-on-click>
                                                                <div ng-messages="facility.facilityForm['loc_'+$index].city.$error"
                                                                     class="md-input-messages-nice">
                                                                    <div ng-message="required">This field is required</div>
                                                                </div>
                                                            </md-input-container>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <input-state-string form-name="facility.facilityForm"
                                                                                input-name="state"
                                                                                selected-item="loc.Address.State"
                                                                                add-directives="clear-on-click"
                                                                                ng-required="true">
                                                            </input-state-string>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input-zip-string form-name="facility.facilityForm"
                                                                      input-name="zip"
                                                                      selected-item="loc.Address.Zip"
                                                                      add-directives="clear-on-click"
                                                                      ng-required="true">
                                                    </input-zip-string>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-w-25 pad-30">
                                            <div class="contacts-container left-divider">
                                                <organization-contacts
                                                    selected-contacts="loc.Contacts"
                                                    allow-not-unique-types="false"
                                                    min-required="1"
                                                    org-location-required="true"
                                                    all-contact-types="facility.allContactTypes">
                                                </organization-contacts>
                                            </div>
                                        </div>
                                    </div>

                                </v-pane-content>
                            </v-pane>
                        </v-accordion>

                        <!--LOCATION REQUIRED ERROR MESSAGE-->
                        <md-input-container class="hidden-container"
                                            ng-show="!facility.model.Locations.length && !facility.locationRequiredValid">
                            <input class="hide-this"
                                   type="text"
                                   ng-model="facility.locationRequiredValid"
                                   ng-required="true"
                                   name="locationRequired"
                                   aria-label="...">
                            <div ng-messages="facility.facilityForm.locationRequired.$error"
                                 class="md-input-messages-nice">
                                <div ng-message="required">At least one location is required.</div>
                            </div>
                        </md-input-container>

                        <!--ADD LOCATION BUTTON-->
                        <div class="flex-row marg-bottom-15">
                            <md-button class="md-raised middle-btn add-new-location"
                                       aria-label="..."
                                       ng-click="facility.addNewLocation()">
                                <md-icon md-svg-src="assets/images/default/plus.svg"></md-icon>
                                Add Location
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flow-body-footer">
        <md-button class="md-raised main-button"
                   ui-sref="root.management.organization.facilities.list">Cancel</md-button>
        <md-button class="md-raised md-primary main-button"
                   ng-click="facility.save()">
            Save
        </md-button>
    </div>

</div>
