<div class="flex-row"
     ng-class="{'subfilter' : $ctrl.options.subfilter}">

    <div class="filters-block-label active-text font-semibold">
        <span ng-if="!$ctrl.options.subfilter"
              ng-bind="$ctrl.options.label + ':'"></span>
    </div>

    <div class="filters-block-body"
         ng-class="{ 'flex-column' : $ctrl.options.additionalField }">
        <div ng-if="$ctrl.options.subfilter"
             class="filters-block-label">
            <span ng-bind="$ctrl.options.label + ':'"></span>
        </div>
        <!--Dynamic search-->
        <md-chips ng-if="!$ctrl.options.isStaticDictionary"
                  ng-model="$ctrl.options.filterValue"
                  class="autocomplete-chips-filter"
                  md-require-match="true"
                  md-on-remove="$ctrl.closeAutocompleteOnDelete()">

            <md-autocomplete id="{{$ctrl.autocompleteId}}"
                             ng-class="{ 'sm-autocomplete' : $ctrl.options.smAutocompleteClass }"
                             md-no-cache="true"
                             close-on-scroll="true"
                             md-menu-container-class="autocomplete-chips-dropdown"
                             md-selected-item="item[$ctrl.options.dictionaryKeyName]"
                             md-search-text="$ctrl.searchText"
                             md-items="item in $ctrl.getDictionary($ctrl.searchText)"
                             md-item-text="item[$ctrl.options.dictionaryKeyName]"
                             placeholder="{{$ctrl.options.placeholder}}"
                             ng-disabled="$ctrl.options.isDisabled"
                             md-min-length="0">
                <md-item-template>
                    <span md-highlight-text="searchText"
                          md-highlight-flags="i"
                          title="{{item[$ctrl.options.dictionaryKeyName]}}">
                        {{item[$ctrl.options.dictionaryKeyName]}}
                    </span>
                </md-item-template>
                <md-not-found>
                    Nothing was found
                </md-not-found>
            </md-autocomplete>

            <md-chip-template>
                <span title="{{$chip[$ctrl.options.dictionaryKeyName]}}">
                    {{$chip[$ctrl.options.dictionaryKeyName]}}
                </span>
            </md-chip-template>
        </md-chips>

        <!--Static search-->
        <md-chips ng-if="$ctrl.options.isStaticDictionary"
                  ng-model="$ctrl.options.filterValue"
                  class="autocomplete-chips-filter"
                  md-require-match="true"
                  md-on-remove="$ctrl.closeAutocompleteOnDelete()">

            <md-autocomplete id="{{$ctrl.autocompleteId}}"
                             ng-class="{ 'sm-autocomplete' : $ctrl.options.smAutocompleteClass }"
                             md-no-cache="true"
                             close-on-scroll="true"
                             md-menu-container-class="autocomplete-chips-dropdown"
                             md-selected-item="item[$ctrl.options.dictionaryKeyName]"
                             md-search-text="$ctrl.searchText"
                             md-items="item in $ctrl.autocompleteQuerySearch($ctrl.searchText)"
                             md-item-text="item[$ctrl.options.dictionaryKeyName]"
                             placeholder="{{$ctrl.options.placeholder}}"
                             ng-disabled="$ctrl.options.isDisabled"
                             md-min-length="0">
                <md-item-template>
                    <span md-highlight-text="searchText"
                          md-highlight-flags="i"
                          title="{{item[$ctrl.options.dictionaryKeyName]}}">
                        {{item[$ctrl.options.dictionaryKeyName]}}
                    </span>
                </md-item-template>
                <md-not-found>
                    Nothing was found
                </md-not-found>
            </md-autocomplete>

            <md-chip-template>
                <span title="{{$chip[$ctrl.options.dictionaryKeyName]}}">
                    {{$chip[$ctrl.options.dictionaryKeyName]}}
                </span>
            </md-chip-template>
        </md-chips>

        <div ng-show="$ctrl.toShowOtherText()" class="marg-v-10">
            <md-input-container>
                <label></label>
                <input type="text"
                       placeholder="Other text"
                       ng-model="$ctrl.options.additionalField.filterValue"
                       clear-on-click>
            </md-input-container>
        </div>
    </div>
</div>
