.bundle-items {
    .bundle-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px 0 15px;

        &:hover {
            .bundle-item-delete {
                opacity: 1;
            }
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid $lighter-gray-color;
        }

        .qty-container {
            margin-top: 0;
            margin-bottom: 0;
        }

        .bundle-item-delete {
            width: 40px;
            min-width: 40px;
            padding-top: 8px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            opacity: 0;
            transition: opacity .2s;
        }
    }
}