<div class="modal-window current-password-modal" ng-form="$ctrl.currentPassForm">

    <a href="javascript:void(0);" ng-click="$ctrl.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/lock.svg"></md-icon>

        <div class="modal-title">
            <h2>Confirm Changes:</h2>
        </div>

        <div class="flex-row">
            <div class="info-block">
                Before saving changes, please type your current password here:
            </div>
        </div>

        <div class="flex-row">
            <div class="info-block grow-1">
                <md-input-container>
                    <label>Current password:</label>
                    <input type="password"
                           ng-model="$ctrl.password"
                           ng-required="true"
                           name="password"
                           ng-keyup="$ctrl.submitForm($event)">
                    <div class="md-input-messages-nice" ng-messages="$ctrl.currentPassForm.password.$error">
                        <div ng-message="required"><b>Current password</b> cannot be empty.</div>
                    </div>
                </md-input-container>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter align-center">
        <md-button class="md-raised md-primary main-button"
                   ng-click="$ctrl.save()"
                   ng-disabled="!$ctrl.password">
            Save Changes
        </md-button>
    </md-dialog-actions>

</div>
