<div class="audit-tab"
     bs-loading-overlay
     bs-loading-overlay-reference-id="auditList">

    <div class="audit-tab-list"
         infinite-scroll="audit.getAuditList()"
         infinite-scroll-immediate-check="true"
         infinite-scroll-disabled="audit.auditListParams.stopLoading"
         ng-show="audit.auditList.length"
    >
        <div class="audit-tab-item" ng-repeat="item in audit.auditList">
            <div class="info-block long-date-block">
                <div class="info-block-label">Date:</div>
                <div class="info-block-body">
                    <span class="dark-blue-text">{{item.Date | localDateTime: "MM/DD/YYYY"}}</span>
                    <span class="active-text">{{item.Date | localDateTime: "hh:mm:ss A"}}</span>
                </div>
            </div>
            <div class="info-block block-width-200 left-divider">
                <div class="info-block-label">Source:</div>
                <div class="info-block-body">{{item.Source}}</div>
            </div>
            <div class="info-block w300px left-divider">
                <div class="info-block-label">Operation:</div>
                <div class="info-block-body">{{item.Operation.Name}}</div>
            </div>
            <div class="info-block block-width-200 left-divider"
                 ng-if="item.TraceNumber"
            >
                <div class="info-block-label">Trace Id:</div>
                <div class="info-block-body">{{item.TraceNumber}}</div>
            </div>
            <div class="info-block block-width-190 details-btn flex-row flex-end">

                <span ng-if="item.TransactionId">
                    <md-button class="md-raised small-btn document-icon-btn"
                               ng-click="audit.downloadEDI(item.TransactionId)"
                    >
                        <md-icon md-svg-src="assets/images/default/download.svg"></md-icon> EDI
                    </md-button>
                </span>

                <span class="pad-left-10"
                      ng-if="item.HasDetails"
                >
                    <md-button class="md-raised small-btn document-icon-btn"
                               ng-class="{
                                 'warning-icon' : (item.HasDetails && item.DetailsStatus.Id === audit.auditDetailsStatusConstants.REJECTED_STATUS_ID)
                               } "
                               ui-sref="root.invoice.audit.details({ operationId: item.Id})">
                        <md-icon md-svg-src="assets/images/default/documents.svg"></md-icon> Details
                    </md-button>
                </span>
            </div>
        </div>
    </div>


    <no-records text="Audit Records" is-fullpage="true"
                ng-show="!audit.auditList.length && audit.auditListLoaded"></no-records>

</div>
