<div class="modal-window update-association-modal">

    <a href="javascript:void(0);" ng-click="modal.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/barcode.svg"></md-icon>

        <div class="modal-title">
            <h2>Update Association:</h2>
        </div>

        <div class="center-text">
            Entered barcode has been already associated with different Product ID. <br>
            Do you want to update association?
        </div>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button" aria-label="..." ng-click="modal.cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised main-button"
                   aria-label="..."
                   ng-click="modal.update()">
            Update
        </md-button>
    </md-dialog-actions>
</div>