@import "~assets/styles/base/variables";
@import "~assets/styles/utils/mixins";

.datepicker-panel {
    width: 340px;
    display: flex;
    overflow: hidden;
    //max-width: 17em;
    margin-top: -1em;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 0 $gray-color-main;
}
