@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/utils/mixins";

:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(50px, 100%);

    .chat-toggle-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(50px, 100%);
        cursor: pointer;

        &:hover {
            > mat-icon {
                color: lighten($dark-gray-color, 20%);
            }
        }

        > mat-icon {
            position: relative;
            display: block;
            color: $dark-gray-color;
            @include size(24px, auto);
            margin: 0;
            transition: .2s;
        }
    }

    .chat-helper-container {
        visibility: hidden;
        z-index: -2;
        @include size(650px, 550px);
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        padding-bottom: 90px;
        background-color: $light-gray-color;
        border-radius: 5px;
        box-shadow: $box-shadow;
        transition: all 0.4s ease-in-out;

        &.chat-helper-opened {
            visibility: visible;
            z-index: 1000;
            top: 150px;
            right: 50%;
            opacity: 1;
            transform: translateX(50%);
            transition: all 0.4s ease-in-out;
        }

        .chat-helper-header {
            display: flex;
            justify-content: space-between;
            background-color: $main-active-color;
            color: #ffffff;
            padding: 15px;
            font-size: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .btn-bar {
                a mat-icon {
                    color: #ffffff;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }

        perfect-scrollbar {
            height: 403px;
        }

        .chat-helper-body {
            overflow-y: auto;
            height: calc(100% - 58px);

            .chat-message {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                margin-right: 11px;

                &:first-of-type {
                    margin-top: 20px;
                }

                &:last-of-type {
                    margin-bottom: 10px;
                }

                .chat-message-avatar {
                    width: 50px;
                    min-width: 50px;
                    padding: 0px 5px;
                }

                .chat-message-content {
                    flex-grow: 1;

                    .chat-message-header {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        .message-created-time {
                            margin: 0 5px;
                            font-size: 12px;
                            color: $dark-gray-color;
                        }
                    }

                    .chat-message-info {
                        .chat-message-text {
                            h1 {
                                font-size: inherit;
                                color: inherit;
                            }
                        }

                        .message-attachments {
                            .attachment-item {
                                margin-top: 7px;
                                border-left: 2px solid $middle-gray-color;
                                padding-left: 10px;
                                font-size: 14px;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }

        .chat-helper-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            border-top: 1px solid $light-gray-color;
            background-color: #ffffff;
            padding: 15px;
            @include size(100%, 90px);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            > mat-form-field {

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) { // fix for IE 10+
                    overflow-x: hidden;
                    height: 100%;
                }

                @supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial) { // fix for Edge 15+
                    overflow-x: hidden;
                    height: 100%;
                }

                textarea {
                    resize: none;
                }
            }
        }
    }
}


