<div class="drowz-wizard-body clearfix">
    <search-items items="prUpdate.model.Products"
                  type="products"
                  is-add-diagnosis="true"
    ></search-items>
</div>

<div class="drowz-wizard-footer">
    <md-button class="md-raised main-button drowz-wizard-footer-btn"
               ng-click="prUpdate.cancelItems()">Cancel</md-button>
    <md-button class="md-raised md-primary main-button drowz-wizard-footer-btn"
               ng-click="prUpdate.saveItems()">Save</md-button>
</div>
