<div class="infinite-scroll-bg provider-view full-height-with-footer"
     bs-loading-overlay
     bs-loading-overlay-reference-id="providerPage"
     ng-form="$ctrl.Form">

    <div class="top-block">
        <div class="breadcrumbs transparent-bg">
            <a href="javascript:void(0)" ui-sref="root.dashboard">Home</a>
            <a href="javascript:void(0)" ui-sref="root.management">Management</a>
            <a href="javascript:void(0)" ui-sref="root.management.billing.rendering">Rendering Providers</a>
            <a href="javascript:void(0)" class="active">{{ $ctrl.providerId ? 'Edit' : 'Add' }} Rendering Provider</a>
        </div>

        <div class="drowz-wizard-body-flex">

            <div class="grow-1">

                <div class="drowz-wizard-block no-float">
                    <div class="drowz-wizard-block-title">
                        <div class="wizard-title-text">Rendering name:</div>
                    </div>
                    <div class="drowz-wizard-block-body">
                        <div class="drowz-wizard-block-row">
                            <div class="info-block block-width-33-percent">
                                <md-input-container>
                                    <label>Type:</label>
                                    <md-select name="type"
                                               ng-model="$ctrl.model.Type"
                                               ng-required="true">
                                        <md-option ng-value="item.Id" ng-repeat="item in $ctrl.typesDictionary">
                                            {{ item.Name }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="$ctrl.Form.type.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="info-block block-width-33-percent">
                                <md-input-container>
                                    <label>NPI:</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.Npi"
                                           name="npi"
                                           ng-maxlength="10"
                                           ng-pattern="/^[0-9]*$/"
                                           ng-minlength="10"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.npi.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="pattern">NPI number consists only from numbers</div>
                                        <div ng-message="maxlength, minlength">Value should consist of 10 digits.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="info-block grow-1">
                                <md-button class="md-raised middle-btn marg-left-0"
                                           ng-click="$ctrl.npiLookup($ctrl.model)">
                                    NPI Lookup
                                </md-button>
                                <md-button class="md-raised middle-btn"
                                           ng-click="$ctrl.populateNPI($ctrl.model.Npi)">
                                    Populate NPI data
                                </md-button>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row"
                             ng-if="$ctrl.model.Type === $ctrl.types.ORGANIZATION_TYPE_ID">
                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>Name:</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.OrganizationName"
                                           name="orgName"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.orgName.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row" ng-if="$ctrl.model.Type === $ctrl.types.PERSON_TYPE_ID">
                            <div class="info-block block-width-50-percent">
                                <md-input-container>
                                    <label>First Name:</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.PersonName.FirstName"
                                           name="FirstName"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.FirstName.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="info-block block-width-50-percent">
                                <md-input-container>
                                    <label>Last Name:</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.PersonName.LastName"
                                           name="LastName"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.LastName.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>Address (line 1):</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.Address.AddressLine"
                                           name="AddressLine"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.AddressLine.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>Address (line 2):</label>
                                    <input type="text" ng-model="$ctrl.model.Address.AddressLine2">
                                </md-input-container>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>City:</label>
                                    <input type="text"
                                           ng-model="$ctrl.model.Address.City"
                                           name="City"
                                           ng-required="true">
                                    <div ng-messages="$ctrl.Form.City.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="info-block block-width-33-percent">
                                <input-state-string
                                        selected-item="$ctrl.model.Address.State"
                                        form-name="$ctrl.Form"
                                        input-name="state"
                                        ng-required="true">
                                </input-state-string>
                            </div>
                            <div class="info-block block-width-33-percent">
                                <input-zip-string
                                        selected-item="$ctrl.model.Address.Zip"
                                        form-name="$ctrl.Form"
                                        input-name="zip"
                                        ng-required="true">
                                </input-zip-string>
                            </div>
                        </div>

                        <div class="drowz-wizard-block-row">
                            <div class="info-block block-width-250">
                                <md-autocomplete-with-infinite-scroll
                                  md-no-cache="true"
                                  md-selected-item="$ctrl.model.Taxonomy"
                                  md-search-text="searchTaxonomyCode"
                                  md-items="item in $ctrl.getTaxonomyCodes(searchTaxonomyCode, pageIndex)"
                                  md-item-text="item.Code"
                                  md-input-name="taxonomyCode"
                                  md-min-length="0"
                                  md-floating-label="Taxonomy Code:"
                                  clear-on-click
                                  drowz-clear-value
                                >
                                    <md-item-template>
                                        <span md-highlight-flags="i" title="{{ item.Code }}">{{ item.Code }}</span>
                                    </md-item-template>
                                    <md-not-found>No code was found.</md-not-found>
                                    <div ng-messages="$ctrl.Form.taxonomyCode.$error" class="md-input-messages-nice">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="md-require-match">Taxonomy Code has to be selected</div>
                                    </div>
                                </md-autocomplete-with-infinite-scroll>
                            </div>

                            <div class="info-block grow-1">
                                <md-input-container>
                                    <label>Taxonomy Description:</label>
                                    <textarea ng-model="$ctrl.model.Taxonomy.Description"
                                              ng-disabled="true"
                                    ></textarea>
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-360">

                <div class="drowz-wizard-block no-float">
                    <div class="drowz-wizard-block-title">
                        <div class="wizard-title-text">Contacts:</div>
                    </div>
                    <div class="drowz-wizard-block-body">
                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <input-phone-number class="small-label"
                                                    form-name="$ctrl.Form"
                                                    input-name="phone"
                                                    label="Phone"
                                                    ng-required="!(!!$ctrl.model.Fax || !!$ctrl.model.Phone)"
                                                    ng-model="$ctrl.model.Phone"
                                                    add-directives="input-phone-mask">
                                </input-phone-number>
                            </div>
                        </div>
                        <div class="drowz-wizard-block-row">
                            <div class="info-block grow-1">
                                <input-phone-number class="small-label"
                                                    form-name="$ctrl.Form"
                                                    input-name="fax"
                                                    label="Fax"
                                                    ng-required="!(!!$ctrl.model.Fax || !!$ctrl.model.Phone)"
                                                    ng-model="$ctrl.model.Fax"
                                                    add-directives="input-phone-mask">
                                </input-phone-number>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="flow-body-footer">
            <md-button class="md-raised main-button" ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button class="md-raised md-primary main-button" ng-click="$ctrl.save()">Save</md-button>
        </div>
    </div>

</div>
