<div bs-loading-overlay
     bs-loading-overlay-reference-id="invoicesPage"
>
<advanced-filters
    cache-filters-key="invoices.cacheFiltersKey"
    rewrite-cache-filters="invoices.rewriteCacheFilters"
    init-filters="invoices.initFilters"
    update-filters="invoices.updateFilters">
</advanced-filters>

<toolbar items="invoices.toolbarItems"></toolbar>

<infinity-table load-items-promise="invoices.getInvoices"
                page-size="24"
                item-alias="invoice"
                filters-obj="invoices.filtersObj"
                sort-obj="invoices.sortExpr"
                default-sort-field="'CreatedOn'"
                default-sort-value="'false'"
                cache-filters-key="invoices.cacheFiltersKey"
                rewrite-cache-filters="invoices.rewriteCacheFilters"
                class="custom-table double-row-table invoices-list">
    <infinity-table-sort>
        <div class="number-td">&nbsp;</div>
        <div class="name-td">
            <md-icon md-svg-src="assets/images/default/user-square.svg" class="main-sort-icon user-icon"></md-icon>
            <inftbl-sort-list param-name="PatientName">Patient:</inftbl-sort-list>
        </div>
        <div class="order-id-td">
            <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
            Invoice Id:
        </div>
        <div class="datetime-td">
            <md-icon md-svg-src="assets/images/default/calendar-new.svg" class="main-sort-icon date-icon"></md-icon>
            <inftbl-sort-list param-name="CreatedOn">Created:</inftbl-sort-list>
        </div>
        <div class="datetime-td">
            <md-icon md-svg-src="assets/images/default/calendar-new.svg" class="main-sort-icon date-icon"></md-icon>
            <inftbl-sort-list param-name="ModifiedOn">Modified:</inftbl-sort-list>
        </div>
        <div class="w120px">
            <md-icon md-svg-src="assets/images/default/billing.svg" class="main-sort-icon billing-icon"></md-icon>
            <inftbl-sort-list param-name="Charge">Charge:</inftbl-sort-list>
        </div>
        <div class="w120px">
            <md-icon md-svg-src="assets/images/default/billing.svg" class="main-sort-icon billing-icon"></md-icon>
            <inftbl-sort-list param-name="Balance">Balance:</inftbl-sort-list>
        </div>
        <div class="grow-1">
            <md-icon md-svg-src="assets/images/default/user-square.svg" class="main-sort-icon user-icon"></md-icon>
            <inftbl-sort-list param-name="BillRecipient">Bill To:</inftbl-sort-list>
        </div>
        <div class="w130px">
            <md-icon md-svg-src="assets/images/default/star-half.svg" class="main-sort-icon location-icon"></md-icon>
            Status:
        </div>
        <div class="number-td">&nbsp;</div>
    </infinity-table-sort>

    <infinity-table-filters class="drowz-infinite-row-filter">
        <div class="number-td">
            <md-checkbox class="md-primary"
                         aria-label="..."
                         ng-click="$ctrl.selectAllFn()"
                         ng-checked="$ctrl.isSelectAll">
            </md-checkbox>
        </div>
        <div class="name-td">
            <md-autocomplete-with-infinite-scroll class="drowz-infinite-autocomplete in-grid-filter-pos"
                             md-no-cache="true"
                             md-selected-item="$ctrl.filtersObj.Patient"
                             md-search-text="searchPatient"
                             md-items="item in $parent.invoices.getPatients(searchPatient, pageIndex)"
                             md-item-text="item.Name.FullName"
                             md-min-length="0"
                             md-floating-label="search name"
                             ng-model-options="{debounce: 450}"
                             md-menu-class="order-id-autocomplete"
                             clear-on-click
                             drowz-clear-value>
                <md-item-template>
                    <span md-highlight-text="searchPatient"
                          md-highlight-flags="^i">
                        {{::item.Name.FullName}}
                    </span>
                </md-item-template>
                <md-not-found>
                    No patient was found
                </md-not-found>
            </md-autocomplete-with-infinite-scroll>
        </div>
        <div class="order-id-td">
            <md-autocomplete-with-infinite-scroll class="drowz-infinite-autocomplete in-grid-filter-pos"
                                                  md-no-cache="true"
                                                  md-selected-item="$ctrl.filtersObj.Invoice"
                                                  md-search-text="searchInvoicesId"
                                                  md-items="item in $parent.invoices.getInvoicesDictionary(searchInvoicesId, pageIndex)"
                                                  md-item-text="item.Name"
                                                  md-min-length="0"
                                                  md-floating-label="search id"
                                                  ng-model-options="{debounce: 450}"
                                                  md-menu-class="order-id-autocomplete"
                                                  clear-on-click
                                                  drowz-clear-value
            >
                <md-item-template>
                    <span md-highlight-text="searchInvoicesId"
                          md-highlight-flags="^i">{{::item.Name}}</span>
                </md-item-template>
                <md-not-found>
                    No Id was found
                </md-not-found>
            </md-autocomplete-with-infinite-scroll>
        </div>
        <div class="datetime-td">
            <md-input-container class="drowz-infinite-input-container">
                <label>search date</label>
                <input ng-model="$ctrl.filtersObj.CreatedOn"
                       datetimepicker
                       use-current="false"
                       format="MM/DD/YYYY"
                       show-today-button="false"
                       aria-label="..."
                       clear-on-click>
            </md-input-container>
        </div>
        <div class="datetime-td">
            <md-input-container class="drowz-infinite-input-container">
                <label>search date</label>
                <input ng-model="$ctrl.filtersObj.ModifiedOn"
                       datetimepicker
                       use-current="false"
                       format="MM/DD/YYYY"
                       show-today-button="false"
                       aria-label="..."
                       clear-on-click>
            </md-input-container>
        </div>
        <div class="w120px">
            <md-input-container class="drowz-infinite-input-container">
                <label>search</label>
                <input type="text"
                       ng-model="$ctrl.filtersObj.Charge"
                       ng-model-options="{debounce: 450}"
                       clear-on-click>
            </md-input-container>
        </div>
        <div class="w120px">
            <md-input-container class="drowz-infinite-input-container">
                <label>search</label>
                <input type="text"
                       ng-model="$ctrl.filtersObj.Balance"
                       ng-model-options="{debounce: 450}"
                       clear-on-click>
            </md-input-container>
        </div>
        <div class="grow-1">
            <md-input-container class="drowz-infinite-input-container">
                <label>search</label>
                <input type="text"
                       ng-model="$ctrl.filtersObj.BillRecipient"
                       ng-model-options="{debounce: 450}"
                       clear-on-click>
            </md-input-container>
        </div>
        <div class="two-line-status no-divider w130px">
            <md-input-container class="drowz-infinite-input-container">
                <label>select</label>
                <md-select ng-model="$ctrl.filtersObj.Statuses"
                           multiple
                           clear-on-click
                >
                    <md-option ng-value="status" ng-repeat="status in $parent.invoices.statuses">
                        {{::status}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="number-td filter-reset-btn">
            <inftbl-filter-reset-btn></inftbl-filter-reset-btn>
        </div>
    </infinity-table-filters>

    <infinity-table-row class="drowz-infinite-row"
                        ng-click="$parent.invoices.goToInvoice(invoice.Id)">
        <div class="custom-table-body auto-height no-divider">
            <div class="number-td">
                <md-checkbox class="md-primary"
                             aria-label="..."
                             ng-click="$parent.invoices.toggleItem($event, invoice)"
                             ng-checked="invoice.isSelected">
                </md-checkbox>
            </div>
            <div class="name-td invoice-name-status">
                <div class="flex-column">
                    <div ng-bind="invoice.PatientFullName" class="name-td-text"></div>
                    <div>
                        (<span ng-bind='(invoice.PatientDateOfBirth | amUtc | amDateFormat: "MM/DD/YYYY")'></span>)
                        &nbsp;
                        <md-icon md-svg-src="assets/images/default/cart.svg"
                                 ng-if="invoice.Purchase"
                                 simple-tooltip="Purchase"
                                 tooltip-position="right">
                        </md-icon>
                        <md-icon md-svg-src="assets/images/default/rent.svg"
                                 ng-if="invoice.Rental"
                                 class="rental-btn-icon"
                                 simple-tooltip="Rental"
                                 tooltip-position="right">
                        </md-icon>
                        <md-icon md-svg-src="assets/images/default/alert.svg"
                                 ng-if="invoice.ActionRequired"
                                 simple-tooltip="Action Required"
                                 tooltip-position="right">
                        </md-icon>
                    </div>
                </div>

            </div>
            <div class="order-id-td" ng-bind="invoice.DisplayId"></div>
            <div class="datetime-td">
                <span class="dark-blue-text"
                      ng-bind='invoice.CreatedOn | localDateTime:"MM/DD/YYYY"'></span>&nbsp;
                <span class="active-text"
                      ng-bind='invoice.CreatedOn | localDateTime:"hh:mm A"'></span>
            </div>
            <div class="datetime-td">
                <div ng-if="invoice.ModifiedOn">
                    <span class="dark-blue-text"
                          ng-bind='invoice.ModifiedOn | localDateTime:"MM/DD/YYYY"'></span>&nbsp;
                    <span class="active-text"
                          ng-bind='invoice.ModifiedOn | localDateTime:"hh:mm A"'></span>
                </div>
                <div ng-if="!invoice.ModifiedOn">-</div>
            </div>
            <div class="w120px font-semibold"
                 ng-bind="(invoice.Charge.Currency) + ' ' + (invoice.Charge.Amount | absNumber:2)"></div>
            <div class="w120px font-semibold"
                 ng-bind="(invoice.Balance.Currency) + ' ' + (invoice.Balance.Amount | absNumber:2)"></div>
            <div class="grow-1">
                <span ng-bind="invoice.BillRecipient"></span>
                <span ng-if="invoice.InsurancePriorityOrder.Name">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                <span class="status-label bordered-label overflow-initial"
                      ng-class="{
                          'min-w100px': invoice.InsurancePriorityOrder.Id === invoice.insurancePriorityConstants.SECONDARY_ID,
                          'min-w60px': invoice.InsurancePriorityOrder.Id !== invoice.insurancePriorityConstants.SECONDARY_ID
                      }"
                      ng-if="invoice.InsurancePriorityOrder.Name"
                      ng-bind="invoice.InsurancePriorityOrder.Name"></span>
            </div>
            <div class="two-line-status w130px no-divider">
                <div class="status-label {{invoice.statusClass}}"
                     ng-bind="invoice.Status.Name"></div>
            </div>
            <div class="number-td">&nbsp;</div>
        </div>
        <div class="custom-table-body attributes no-divider"
             ng-if="invoice.UniqueTags.length || invoice.ActualAllowableDiffers">
            <div class="number-td no-divider">&nbsp;</div>
            <div class="grow-1 no-divider attributes-wrapper">
                <div ng-if="invoice.ActualAllowableDiffers"
                     class="status-label allowable-label dark-blue"
                     simple-tooltip="Actual allowable amount does not match allowable amount from Pricing"
                     tooltip-position="right"
                     simple-tooltip-max-width="null">Allowable</div>

                <span class="attr-label {{tag.AttrClass}}"
                      ng-repeat="tag in invoice.UniqueTags">
                    <md-icon md-svg-src="assets/images/default/tag.svg"></md-icon>
                    <span ng-bind="tag.Name"></span>
                </span>
            </div>
            <div class="w170px no-divider"></div>
            <div class="number-td no-divider">&nbsp;</div>
        </div>
    </infinity-table-row>

    <infinity-table-no-items>
        <no-records text="Invoices" is-fullpage="true"></no-records>
    </infinity-table-no-items>
</infinity-table>
</div>
