<div class="drowz-wizard">

    <div class="breadcrumbs">
        <a href="javascript:void(0)" ui-sref="root.dashboard">Home</a>
        <a href="javascript:void(0)" ui-sref="root.management">Management</a>
        <a href="javascript:void(0)" ui-sref="root.management.inventory">Inventory</a>
        <a href="javascript:void(0)" ui-sref="root.management.inventory.products">Catalog</a>
        <a href="javascript:void(0)" class="active">{{addManafacturePrd.pageName}}</a>
    </div>

<div bs-loading-overlay bs-loading-overlay-reference-id="addProductManufacture">

    <div class="bs-loading-overlay-fullscreen complete-wizard" >
        <div class="drowz-wizard-body">
            <search-items-catalog items="addManafacturePrd.products"
                                  type="products_catalog"></search-items-catalog>
        </div>

    </div>

    <div class="drowz-wizard-footer">
        <md-button class="md-raised main-button drowz-wizard-footer-btn"
                   ng-click="addManafacturePrd.cancelItems()">Cancel</md-button>
        <md-button class="md-raised md-primary main-button drowz-wizard-footer-btn"
                   ng-disabled="!addManafacturePrd.products.length"
                   ng-click="addManafacturePrd.saveItems()">Add</md-button>
    </div>
</div>

</div>
