<div class="drowz-wizard print-product-labels">

    <div class="breadcrumbs">
        <a href="javascript:void(0)" ui-sref="root.dashboard">Home</a>
        <a href="javascript:void(0)" ui-sref="root.management">Management</a>
        <a href="javascript:void(0)" ui-sref="root.management.inventory.products.list">Inventory</a>
        <a href="javascript:void(0)" ui-sref="root.management.inventory.products.list">Catalog</a>
        <a href="javascript:void(0)" class="active">Print Labels</a>
    </div>

    <div ng-form="productLabels.form" class="drowz-wizard-body">
        <div class="select-all-block">
            <div class="select-all-block-left">
                <md-icon md-svg-src="assets/images/default/task-success.svg"></md-icon>
                <div>
                    <span>
                        <span ng-bind="productLabels.getSelectedItemsCount()"></span> products are selected.
                        <a ng-if="productLabels.getSelectedItemsCount()!== productLabels.getTotalCount()"
                           ng-click="productLabels.selectAllFn()"
                           href="javascript:void(0);">
                            Select all <span ng-bind="productLabels.getTotalCount() || 0"></span> products
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="drowz-wizard-body-flex inf-table-container">
            <infinity-table load-items-promise="productLabels.getProductLabels"
                            page-size="24"
                            item-alias="item"
                            parent-container=".inf-table-container"
                            filters-obj="productLabels.filterObj"
                            sort-obj="productLabels.sortExpr"
                            default-sort-field="'Name'">
                <infinity-table-sort>
                    <div class="number-td">&nbsp;</div>
                    <div>
                        <md-icon md-svg-src="assets/images/default/inventory.svg" class="main-sort-icon inventory-icon"></md-icon>
                        Product ID:
                    </div>
                    <div>
                        <md-icon md-svg-src="assets/images/default/inventory.svg" class="main-sort-icon inventory-icon"></md-icon>
                        <inftbl-sort-list param-name="Name">Name:</inftbl-sort-list>
                    </div>
                    <div class="w160px">
                        <md-icon md-svg-src="assets/images/default/tasks.svg" class="main-sort-icon tasks-icon"></md-icon>
                        <inftbl-sort-list param-name="Group">Group:</inftbl-sort-list>
                    </div>
                    <div class="w160px">
                        <md-icon md-svg-src="assets/images/default/tasks.svg" class="main-sort-icon tasks-icon"></md-icon>
                        <inftbl-sort-list param-name="Category">Category:</inftbl-sort-list>
                    </div>
                    <div class="w180px">
                        <md-icon md-svg-src="assets/images/default/museum.svg" class="main-sort-icon museum-icon"></md-icon>
                        <inftbl-sort-list param-name="Manufacturer">Manufacturer:</inftbl-sort-list>
                    </div>
                    <div class="w130px">
                        <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                        ID/Part #:
                    </div>
                    <div class="w130px">
                        <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                        HCPCS:
                    </div>
                    <div class="status-td no-divider">
                        <md-icon md-svg-src="assets/images/default/star-half.svg" class="main-sort-icon status-icon"></md-icon>
                        Status:
                    </div>
                    <div class="number-td">&nbsp;</div>
                </infinity-table-sort>

                <infinity-table-filters class="drowz-infinite-row-filter">
                    <div class="number-td">
                        <md-checkbox class="md-primary"
                                     aria-label="..."
                                     ng-click="$ctrl.selectAllFn()"
                                     ng-checked="$ctrl.isSelectAll">
                        </md-checkbox>
                    </div>
                    <div>
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search product id</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.Id"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search name</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.Name"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="w160px">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search group</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.Group"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="w160px">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search category</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.Category"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="w180px">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search manufacturer</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.Manufacturer"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="w130px">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search id/part #</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.PartNumber"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="w130px">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>search hcpcs</label>
                            <input type="text"
                                   ng-model="$ctrl.filtersObj.HcpcsCode"
                                   ng-model-options="{debounce: 450}"
                                   clear-on-click/>
                        </md-input-container>
                    </div>
                    <div class="status-td no-divider">
                        <md-input-container class="drowz-infinite-input-container">
                            <label>select</label>
                            <md-select ng-model="$ctrl.filtersObj.Status"
                                       clear-on-click>
                                <md-option ng-value="status.text" ng-repeat="status in $parent.productLabels.statuses">
                                    {{::status.text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="number-td filter-reset-btn">
                        <inftbl-filter-reset-btn></inftbl-filter-reset-btn>
                    </div>
                </infinity-table-filters>

                <infinity-table-row class="drowz-infinite-row hide-btns-row"
                                    ng-click="$parent.productLabels.toggleItem(item)">
                    <div class="number-td">
                        <md-checkbox class="md-primary"
                                     aria-label="..."
                                     ng-checked="item.isSelected">
                        </md-checkbox>
                    </div>
                    <div ng-bind="item.Id"></div>
                    <div>
                        <div popover-directive="item.Name"></div>
                    </div>
                    <div class="w160px" ng-bind="item.Group"></div>
                    <div class="w160px" ng-bind="item.Category"></div>
                    <div class="w180px" ng-bind="item.Manufacturer"></div>
                    <div class="w130px" ng-bind="item.PartNumber"></div>
                    <div class="w130px">
                        <div popover-directive="item.PrimaryHcpcsCodes" min-width="50"></div>
                    </div>
                    <div class="status-td no-divider">
                        <div class="status-label {{item.statusClass}}" ng-bind="item.Status.Name"></div>
                    </div>
                    <div class="number-td">&nbsp;</div>
                </infinity-table-row>

                <infinity-table-no-items>
                    <no-records text="Product Labels" is-fullpage="true"></no-records>
                </infinity-table-no-items>
            </infinity-table>

        </div>
    </div>

    <div class="drowz-wizard-footer">
        <md-button class="md-raised main-button drowz-wizard-footer-btn"
                   ng-click="productLabels.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary main-button drowz-wizard-footer-btn"
                   ng-disabled="!productLabels.getSelectedItemsCount()"
                   ng-click="productLabels.done()">
            Print
        </md-button>
    </div>

</div>
