<div class="modal-window search-items-details-modal product-items-modal"
     bs-loading-overlay
     bs-loading-overlay-reference-id="modalOverlay">

    <a href="javascript:void(0);" ng-click="$ctrl.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/bundle-icon.svg"></md-icon>


        <div class="modal-title">
            <h2>Bundle Details:</h2>
        </div>

        <div class="flex-row" ng-if="$ctrl.modalType === 'product'">
            <div class="info-block block-width-100">
                <div class="item-img-container">
                    <img src=""
                         ng-src="{{
                            $ctrl.model.PictureUrl
                                 ? ($ctrl.WEB_API_INVENTORY_SERVICE_URI + $ctrl.model.PictureUrl)
                                 : $ctrl.noImage
                         }}"
                         alt="" class="item-img">
                </div>
            </div>
            <div class="info-block grow-1">
                <div class="info-block-label">Name:</div>
                <div class="info-block-body">
                    {{$ctrl.model.Name}}
                </div>
            </div>
            <div class="info-block block-width-180">
                <div class="info-block-label">Manufacturer:</div>
                <div class="info-block-body">
                    {{$ctrl.model.ManufacturerName || $ctrl.model.Manufacturer.Name || '-'}}
                </div>
            </div>
            <div class="info-block block-width-150">
                <div class="info-block-label">ID/Part #:</div>
                <div class="info-block-body">{{$ctrl.model.PartNumber || '-'}}</div>
            </div>
            <div class="info-block block-width-60" ng-if="$ctrl.model.Count">
                <div class="info-block-label">Qty:</div>
                <div class="info-block-body">{{$ctrl.model.Count}}</div>
            </div>
        </div>


        <div class="search-items-modal-body"
             ng-if="$ctrl.model.Components.length">
            <div class="active-title flow-body-active-title">Items:</div>
            <table class="drowz-table">
                <tr class="drowz-table-header">
                    <th class="number-cell" width="45">#</th>
                    <th>Name:</th>
                    <th>Manufacturer:</th>
                    <th width="70">ID/Part #:</th>
                    <th width="100">HCPCS:</th>
                    <th width="100">Serial Number:</th>
                    <th width="100">Lot Number:</th>
                    <th width="50">Qty:</th>
                </tr>
                <tr class="drowz-table-row" ng-repeat="item in $ctrl.model.Components">
                    <td class="number-cell">{{$index + 1}}.</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Manufacturer || item.ManufacturerName || '-'}}</td>
                    <td>{{item.PartNumber}}</td>
                    <td>
                        <div popover-directive="item.allHcpcsCodes"
                             hide-first-item="true"
                             min-width="50"></div>
                    </td>
                    <td>{{item.SerialNumber || '-'}}</td>
                    <td>{{item.LotNumber || '-'}}</td>
                    <td>{{item.Count}}</td>
                </tr>
            </table>
        </div>
    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button" ng-click="$ctrl.cancel()">Close</md-button>
    </md-dialog-actions>
</div>
