<v-accordion class="flow-accordion" multiple>
    <v-pane expanded="true">
        <v-pane-header class="flow-accordion-title">
            <md-icon md-svg-src="assets/images/default/chevron.svg"
                     class="flow-accordion-title-icon"
            ></md-icon>

            <div class="flow-title-text">
                Service Line {{:: $ctrl.itemIndex + 1 }}
            </div>

            <div class="status-label dark-blue marg-h-5"
                 ng-if="$ctrl.serviceModel.PriceType.Name"
            >
                {{:: $ctrl.serviceModel.PriceType.Name }}
            </div>

            <div class="status-label red marg-h-5"
                 ng-if="$ctrl.serviceModel.ConnectionStatus.Id === $ctrl.paymentStatusConstants.FAILED_STATUS_ID && $ctrl.isNeedConnect()"
            >
                Failed
            </div>

            <div class="status-label blue marg-h-5"
                 ng-if="$ctrl.serviceModel.ConnectionStatus.Id === $ctrl.paymentStatusConstants.APPLIED_STATUS_ID"
            >
                Applied
            </div>

            <div class="accordion-line"></div>

            <md-button class="delete-icon-btn"
                       aria-label="..."
                       ng-if="!$ctrl.readOnly"
                       confirm-ng-click="$ctrl.onRemoveServiceLine($ctrl.itemIndex)"
                       confirm-msg="'This service line will be deleted from invoice. Are you sure you want to delete this service line?'"
                       confirm-title="Delete service line"
            >
                <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
            </md-button>

        </v-pane-header>
        <v-pane-content class="padding-top-10 pad-left-20 pad-right-20">

            <div class="flex-row"
                 ng-if="$ctrl.serviceModel.invalid"
                 ng-repeat="message in $ctrl.serviceModel.errorMessagas"
            >
                <div class="info-block grow-1">
                    <div class="block-warning-msg warn-icon">
                        <span> {{ message }} </span>
                    </div>
                </div>
            </div>

            <div class="flex-row marg-bottom-20">
                <div class="info-block w350px">
                    <div class="flex-row marg-bottom-10">
                        <div class="info-block w250px readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    DOS:
                                </div>
                                <div class="info-block-body">
                                    {{:: $ctrl.serviceModel.ServicePeriod.From | amUtc | amDateFormat: "MM/DD/YYYY" }} - {{:: $ctrl.serviceModel.ServicePeriod.To | amUtc | amDateFormat: "MM/DD/YYYY" }}
                                </div>
                            </md-input-container>
                        </div>
                        <div class="info-block w100px left-divider readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    Qty:
                                </div>
                                <div class="info-block-body">
                                    {{:: $ctrl.serviceModel.Quantity }}
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="flex-row marg-bottom-10">
                        <div class="info-block w200px readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    HCPCS:
                                </div>
                                <div class="info-block-body">
                                    {{:: $ctrl.serviceModel.HcpcsCode }}
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="flex-row marg-bottom-10">
                        <div class="info-block w200px readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    Modifiers:
                                </div>
                                <div class="info-block-body">
                                    <div class="code-with-slash">
                                        {{:: $ctrl.serviceModel.Modifiers.Level1.Name || '-' }}
                                    </div>
                                    <div class="code-with-slash">
                                        {{:: $ctrl.serviceModel.Modifiers.Level2.Name || '-' }}
                                    </div>
                                    <div class="code-with-slash">
                                        {{:: $ctrl.serviceModel.Modifiers.Level3.Name || '-' }}
                                    </div>
                                    <div class="code-with-slash">
                                        {{:: $ctrl.serviceModel.Modifiers.Level4.Name || '-' }}
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div class="info-block left-divider grow-1 service-line-right-block">
                    <div class="flex-row marg-bottom-20">
                        <div class="info-block w150px readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    Charge:
                                </div>
                                <div class="info-block-body">
                                    {{ $ctrl.serviceModel.Charge.Currency }} <b>{{ $ctrl.serviceModel.Charge.Amount | absNumber:2 }}</b>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="info-block w150px left-divider readonly-info-block"
                             ng-if="$ctrl.readOnly && $ctrl.sourceType === $ctrl.paymentTypeConstants.PAYER_TYPE_ID"
                        >
                            <md-input-container>
                                <div class="info-block-label">
                                    Payer Allowable:
                                </div>
                                <div class="info-block-body">
                                    <span ng-if="$ctrl.serviceModel.Allowed.Amount === null"><b>-</b></span>
                                    <span ng-if="$ctrl.serviceModel.Allowed.Amount !== null">
                                        {{:: $ctrl.serviceModel.Allowed.Currency }}
                                        <b>{{:: $ctrl.serviceModel.Allowed.Amount | absNumber:2 }}</b>
                                    </span>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="info-block w150px left-divider height-info-block"
                             ng-if="!$ctrl.readOnly && $ctrl.sourceType === $ctrl.paymentTypeConstants.PAYER_TYPE_ID"
                        >
                            <div class="info-block-body">

                                <md-input-container class="currency-container">
                                    <div class="currency-icon">{{:: $ctrl.serviceModel.Allowed.Currency }}</div>
                                    <label>Payer Allowable:</label>
                                    <input type="number"
                                           step="0.01"
                                           price-validator
                                           name="{{ 'serviceLineAllowed' + $ctrl.serviceModel.ServiceId + $ctrl.serviceModel.Id }}"
                                           ng-model="$ctrl.serviceModel.Allowed.Amount"
                                    >

                                    <div ng-messages="$ctrl.parentForm['serviceLineAllowed' + $ctrl.serviceModel.ServiceId + $ctrl.serviceModel.Id].$error"
                                         class="md-input-messages-nice"
                                    >
                                        <div ng-message="price">Max 2 digits after point</div>
                                        <div ng-message="greatUnapplied">Payment amount has to be equal or bigger than Applied amount.</div>
                                    </div>

                                </md-input-container>
                            </div>
                        </div>

                        <div class="info-block w150px left-divider readonly-info-block"
                             ng-if="$ctrl.readOnly"
                        >
                            <md-input-container>
                                <div class="info-block-label">
                                    Payment:
                                </div>
                                <div class="info-block-body">
                                    {{:: $ctrl.serviceModel.Paid.Currency }} <b>{{:: $ctrl.serviceModel.Paid.Amount | absNumber:2 }}</b>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="info-block w150px left-divider height-info-block"
                             ng-if="!$ctrl.readOnly"
                        >
                            <div class="info-block-body">
                                <md-input-container class="currency-container">
                                    <div class="currency-icon">{{:: $ctrl.serviceModel.Paid.Currency }}</div>
                                    <label>Payment:</label>
                                    <input type="number"
                                           step="0.01"
                                           price-validator
                                           name="{{ 'serviceLinePaid' + $ctrl.serviceModel.Id + $ctrl.serviceModel.ServiceId }}"
                                           ng-required="$ctrl.sourceType === $ctrl.paymentTypeConstants.PAYER_TYPE_ID"
                                           ng-model="$ctrl.serviceModel.Paid.Amount"
                                    >

                                    <div ng-messages="$ctrl.parentForm['serviceLinePaid' + $ctrl.serviceModel.Id + $ctrl.serviceModel.ServiceId].$error"
                                         class="md-input-messages-nice">
                                        <div ng-message="price">Max 2 digits after point</div>
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="greatUnapplied">Payment amount has to be equal or bigger than Applied amount.</div>
                                    </div>

                                </md-input-container>
                            </div>
                        </div>

                        <div class="info-block w150px left-divider readonly-info-block height-info-block">
                            <md-input-container>
                                <div class="info-block-label">
                                    Balance:
                                </div>
                                <div class="info-block-body">
                                    {{ $ctrl.serviceModel.Balance.Currency }} <b>{{ ($ctrl.serviceModel.Balance.Amount | absNumber:2) || '-' }}</b>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="info-block grow-1">
                            <div class="flex-row flex-end">
                                <md-button class="md-raised eye-details-btn"
                                           ng-if="$ctrl.serviceModel.PriceOptionId"
                                           ng-click="$ctrl.onShowPricingDetails($event)"
                                >
                                    <md-icon md-svg-src="assets/images/default/eye.svg"></md-icon>
                                    <span>Pricing Details</span>
                                </md-button>
                            </div>
                        </div>

                        <div class="info-block"
                             ng-if="!$ctrl.readOnly && $ctrl.isNeedConnect()"
                        >
                            <div class="flex-row flex-end">
                                <md-button class="md-raised green-btn"
                                           ng-click="$ctrl.onConnectServiceLine()"
                                           ng-disabled="!$ctrl.invoiceId"
                                >
                                    Connect
                                </md-button>
                            </div>
                        </div>

                        <div class="info-block"
                             ng-if="!$ctrl.readOnly && !$ctrl.isNeedConnect()"
                        >

                            <div class="flex-row flex-end">
                                <md-button class="md-raised green-btn"
                                           ng-click="$ctrl.onPayOff()"
                                >
                                    Pay Off
                                </md-button>

                                <md-button class="md-raised md-primary"
                                           ng-click="$ctrl.showAdjustModal()"
                                           ng-if="$ctrl.sourceType === $ctrl.paymentTypeConstants.PAYER_TYPE_ID"
                                >
                                    Adjust
                                </md-button>
                            </div>
                        </div>
                    </div>

                    <div class="flex-row"
                         ng-if="$ctrl.serviceModel.Adjustments.length && $ctrl.sourceType === $ctrl.paymentTypeConstants.PAYER_TYPE_ID"
                    >
                        <div class="table-wrap pad-left-15">
                            <div class="adjust-table-title marg-bottom-10">Adjustments:</div>
                            <table class="drowz-table">
                                <tr class="drowz-table-header">
                                    <th>Amount</th>
                                    <th>Group:</th>
                                    <th>Reason:</th>
                                    <th class="btns-transactions-cell"
                                        ng-if="!$ctrl.readOnly"
                                    >&nbsp;</th>
                                </tr>

                                <tr class="drowz-table-row"
                                    ng-repeat="adjustment in $ctrl.serviceModel.Adjustments track by $index"
                                >
                                    <td class="w150px">
                                        {{ adjustment.Amount.Currency }} {{ adjustment.Amount.Amount | absNumber:2 }}
                                    </td>
                                    <td class="w300px">
                                        {{ adjustment.Group.Code + ' - ' + adjustment.Group.Name }}
                                    </td>
                                    <td>
                                        {{ adjustment.Reason.Name + ' - ' + adjustment.Reason.Description }}
                                    </td>
                                    <td class="btns-transactions-cell"
                                        ng-if="!$ctrl.readOnly"
                                    >
                                        <md-button class="edit-info-icon"
                                                   aria-label="..."
                                                   ng-click="$ctrl.showAdjustModal($index)">
                                            <md-icon md-svg-src="assets/images/default/edit.svg"></md-icon>
                                        </md-button>
                                        <md-button class="delete-icon-btn"
                                                   aria-label="..."
                                                   confirm-ng-click="$ctrl.deleteAdjustment($index)"
                                                   confirm-msg="'This adjustment will be deleted from service line. Are you sure you want to delete this adjustment?'"
                                                   confirm-title="Delete adjustment"
                                        >
                                            <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </v-pane-content>
    </v-pane>
</v-accordion>
