.order-wizard-step-7 {

    .order-summary-diagnosis {
        .diagnose-code {
            padding-right: 20px;
            width: 85px;
        }

        .diagnose-code:last-of-type {
            padding-right: 0;
        }
    }

    .drowz-wizard-block-row {
        &.referring-provider-note-block-row {
            padding: 0 15px;
            margin-bottom: 10px;

            &.last-item {
                margin-bottom: 20px;
            }

            .drowz-message {
                margin: 0;

                .status-label {
                    min-width: 75px;
                    padding: 0;
                    margin-right: 5px;
                    text-transform: none;
                    margin-top: 1px;
                    vertical-align: top;
                }
            }
        }
    }
}
