.dashboard {
    min-height: calc(100vh - #{$main-menu-height});
    padding: 30px 20px 25px 25px;
    background-color: $lighter-gray-color;
}

.dashboard-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    md-input-container.search-field {
        md-icon.search-icon {
            margin: -15px 0 0;
            width: 24px;
            height: 24px;
        }
    }
}

.dashboard-block {
    display: block;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 3px;

    .dashboard-block-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        min-height: 50px;
        padding: 0 13px 0 20px;
        border-bottom: 1px solid $calendar-gray-color;
        text-transform: uppercase;
        color: $dark-blue-color;
        font-size: 16px;
        font-weight: $font-weight-bold;
        transition: .2s;
    }

    .dashboard-block-body {
        position: relative;
        max-height: calc(100% - 50px);
    }

    &.dashboard-search-block {
        width: 45%;
        margin-right: 30px;

        .dashboard-block-body {
            padding: 23px 20px 5px 20px;

            .search-field input {
                padding-right: 33px;
            }
        }
    }

    &.chart-block {
        .dashboard-block-body {
            padding: 20px;
        }
    }

    &.dashboard-communication, &.dashboard-appointments {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 50%;
        max-width: 50%;
        height: 560px;

        .dashboard-block-body {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    &.dashboard-communication {
        border-radius: 3px 0 0 3px;

        &.no-users {
            height: auto;
        }

        .dashboard-block-body {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
        }
    }

    &.dashboard-appointments {
        border-radius: 0 3px 3px 0;

        .dashboard-block-body {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    .drowz-table {
        tr.drowz-table-row {
            height: 60px;
        }
    }
}

.dashboard-accordion {
    .dashboard-block-title {
        position: relative;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: rgba($lighter-gray-color, 0.2);
        }

        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-left: 2px solid $dark-blue-color;
            border-bottom: 2px solid $dark-blue-color;
            transform: rotate(-45deg) translateY(-2px);
            transition: .2s;
        }
    }

    v-pane {
        &:not(.is-expanded) {
            .dashboard-block-title {
                border-bottom-color: transparent;
            }
        }

        &.is-expanded {
            .dashboard-block-title {
                &::after {
                    transform: rotate(135deg) translateY(-2px) translateX(2px);
                }
            }
        }
    }
}

.dashboard-main-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //max-width: 815px;
    margin: 0 auto 30px;
    padding: 10px 10px;
    flex-grow: 1;

    .dashboard-main-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 67px;
        margin: 0 20px;
        padding: 0 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: .2s;

        &:hover, &:focus {
            background-color: rgba($dark-gray-color, 0.1);
        }

        &:not(:last-of-type) {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: -25px;
                width: 1px;
                background-color: $wizard-title-color;
            }
        }

        .link-icon {
            display: block;
            min-width: 52px;
            width: 52px;
            height: 52px;
            margin: 0 10px 0 0;
            color: $gray-color;
        }

        .link-content {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .link-number {
                height: 32px;
                margin-right: 10px;
                color: $main-active-color;
                font-size: 44px;
                line-height: 32px;
                font-weight: $font-weight-semibold;
            }

            .link-text {
                color: $dark-blue-color;
                font-weight: $font-weight-semibold;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

}

.dashboard-appointments-list {
    height: calc(100% - 30px);
    overflow: hidden;

    .dashboard-appointment-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 15px 0 10px;
        margin-left: 20px;
        margin-right: 20px;

        &:not(:last-of-type) {
            border-bottom: 1px solid $wizard-title-color;
        }

        .left-col {
            $dashboard-appointment-item-left-col: 300px;
            width: $dashboard-appointment-item-left-col;
            min-width: $dashboard-appointment-item-left-col;

            & + .grow-1 {
                max-width: calc(100% - #{$dashboard-appointment-item-left-col});
            }
        }

        .active-title {
            margin: 0;
            color: $font-color;
        }

        .status-label {
            margin-left: 20px;
        }

        .orders-table {
            margin-top: 15px;
            border: 1px solid $lighter-gray-color;
            border-radius: 3px;

            .orders-table-body {
                max-height: 126px;
            }

            .orders-table-header {
                height: 30px;
                font-size: 11px;
                font-weight: $font-weight-bold;
                background-color: $lighter-gray-color;
            }

            .orders-table-row {
                min-height: 42px;

                @media only screen and (max-width: 1650px) {
                    font-size: 12px;
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid $lighter-gray-color;
                }

                .order-id-cell {
                    color: $main-active-color;
                }
            }

            .orders-table-header, .orders-table-row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-top: 4px;
                padding-bottom: 4px;

                > div {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .number-cell {
                    width: 50px;
                    min-width: 50px;
                    text-align: center;

                    @media only screen and (max-width: 1650px) {
                        width: 30px;
                        min-width: 30px;
                    }
                }

                .order-id-cell {
                    width: 105px;
                    min-width: 105px;

                    @media only screen and (max-width: 1650px) {
                        width: 90px;
                        min-width: 90px;
                    }
                }

                .date-cell {
                    width: 90px;
                    min-width: 90px;

                    @media only screen and (max-width: 1650px) {
                        width: 75px;
                        min-width: 75px;
                    }
                }
            }
        }
    }

    + .pagination {
        padding-left: 10px;
    }
}

.statistic-block {
    .active-title.flow-body-active-title {
        margin-top: 0;
        margin-bottom: 30px;
    }

    &.patient-volume-statistic {
        margin-bottom: 50px;
    }

    &.physician-statistic {
        width: 55%;
        padding-right: 55px;
    }

    &.payers-statistic {
        width: 45%;
        padding-left: 30px;
        border-left: 1px solid $wizard-title-color;
    }
}

.dashboard-communication {
    &.long-block {
        width: 100%;
        max-width: 100%;
    }

    no-records {
        position: relative;
    }

    .refresh-messages-btn {
        padding: 0;
        margin: 0;
        color: $main-active-color;

        md-icon {
            display: block;
            width: 18px;
            height: 18px;
            margin: 0;
            color: currentColor;
        }

        &:hover, &:focus {
            background: none;
            color: $main-active-hover-color;
        }
    }

    $communication-sidebar-width: 300px;
    .communication-sidebar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: $communication-sidebar-width;
        min-width: $communication-sidebar-width;
        padding: 17px 10px 60px;
        border-right: 1px solid $lighter-gray-color;

        .search-field {
            min-height: 34px;
            height: 34px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .communication-sidebar-users {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            .communication-sidebar-user {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 60px;
                padding: 8px 10px;
                transition: background-color .2s;
                cursor: pointer;

                &:hover {
                    background-color: rgba($lighter-gray-color, 0.5);

                    .sidebar-user-avatar {
                        border-color: $main-active-hover-color;
                    }
                }

                &:hover, &.active {
                    .sidebar-user-avatar {
                        border-color: $main-active-hover-color;
                    }
                }

                &:not(:first-of-type)::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 10px;
                    right: 10px;
                    height: 1px;
                    background-color: $lighter-gray-color;
                }

                .sidebar-user-avatar {
                    width: 38px;
                    min-width: 38px;
                    height: 38px;
                    margin-right: 17px;
                    border: 3px solid $gray-color-main;
                    border-radius: 50%;
                    transition: border .2s;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }

                .sidebar-user-status {
                    position: absolute;
                    z-index: 2;
                    bottom: 10px;
                    left: 34px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: $gray-color;
                    border: 3px solid #fff;
                    box-shadow: $box-shadow;

                    &.active {
                        background-color: $green-color;
                    }
                }

                .sidebar-user-name {
                    line-height: 18px;
                    flex-grow: 1;
                }

                .sidebar-user-unread {
                    min-width: 20px;
                }
            }
        }
    }

    .communication-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        flex-grow: 1;
        max-width: calc(100% - #{$communication-sidebar-width});

        .communication-messages {
            position: relative;
            flex-grow: 1;
            overflow: hidden;
            padding: 0 0 0 22px;
            min-width: 475px;

            .communication-message {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 10px 10px 10px 0;
                margin-right: 11px;

                &:first-of-type {
                    margin-top: 20px;
                }

                &:last-of-type {
                    margin-bottom: 10px;
                }

                &.new-message {
                    //background: rgba(255, 155, 100, 0.1);
                }

                &.my-message {
                    padding-right: 0;

                    .communication-msg-info {
                        order: 2;
                    }

                    .communication-msg-body {
                        order: 1;
                        background-color: $light-gray-color;

                        &::before {
                            top: 15px;
                            left: auto;
                            right: -10px;
                            border: 9px solid rgba(0, 0, 0, 0);
                            border-top: 9px solid $light-gray-color;
                            border-left: 9px solid $light-gray-color;
                        }
                    }
                }

                .communication-msg-info {
                    width: 80px;
                    min-width: 80px;
                    padding: 0 6px;
                    text-align: center;

                    .communication-msg-avatar {
                        width: 48px;
                        height: 48px;
                        margin: 0 auto 13px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid $gray-color;
                        box-shadow: $box-shadow;
                        background-image: url(../assets/images/avatar.png);
                    }

                    .communication-msg-user {
                        font-size: 11px;
                        line-height: 14px;
                    }
                }

                .communication-msg-body {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: space-between;
                    flex-grow: 1;
                    width: 100%;
                    padding: 8px 10px 9px 20px;
                    background-color: $lighter-gray-color;
                    border-radius: 3px;
                    box-shadow: $box-shadow;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 15px;
                        left: -10px;
                        border: 9px solid rgba(0, 0, 0, 0);
                        border-top: 9px solid $lighter-gray-color;
                        border-right: 9px solid $lighter-gray-color;
                    }

                    .msg-body-text {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                    }

                    .msg-body-date {
                        color: $gray-color;
                        font-size: 12px;
                        text-align: right;
                    }
                }
            }
        }

        .communication-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            min-height: 100px;
            padding: 15px 20px 15px 23px;
            border-top: 1px solid $lighter-gray-color;

            .communication-textarea {
                flex-grow: 1;
                margin-right: 25px;

                textarea {
                    max-height: 66px;
                    line-height: 22px;
                    font-size: 14px;
                    overflow-y: auto;
                }
            }

            .send-message {
                display: block;
                min-width: 38px;
                width: 38px;
                height: 41px;
                margin: 0;
                padding: 0;
                background: none;
                overflow: visible;

                md-icon {
                    display: block;
                    width: 38px;
                    height: 41px;
                    margin: 0;
                    transform: rotate(-15deg);
                    color: $main-active-color;
                    transition: .2s;
                }

                &:hover {
                    background: none;

                    md-icon {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}
