<div class="modal-window search-products-modal"
     bs-loading-overlay
     bs-loading-overlay-reference-id="selectPurchaseOrder">
    <a href="javascript:void(0);" ng-click="modal.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/inventory.svg"></md-icon>

        <div class="modal-title">
            <h2>Change Purchase Order:</h2>
        </div>

        <div class="search-modal-filters">
            <div class="select-col">
                <md-button class="clear-filters"
                           ng-click="modal.clearFilters()"
                           aria-label="..."
                >
                    <md-icon md-svg-src="assets/images/default/clear-filters.svg"></md-icon>
                </md-button>
            </div>
            <div class="name-col">
                <div class="flex-cont">
                    <md-input-container class="drowz-infinite-input-container grow-1">
                        <label>Search</label>
                        <input type="text"
                               ng-model="modal.filtersObj.DisplayId"
                               ng-model-options="{debounce: 450}"
                               ng-change="modal.getItems();"
                               clear-on-click
                        />
                    </md-input-container>
                </div>
            </div>
        </div>

        <div class="search-products-table">

            <div class="search-products-header">
                <div class="select-col">Select:</div>
                <div class="w110px">Order Id:</div>
                <div class="w300px">Vendor:</div>
                <div class="w300px">Created By:</div>
                <div class="w110px">Created:</div>
            </div>

            <div class="products-container"
                 scroll-bar
                 scroll-bar-above-element="true">

                <no-records text="Purchase Orders" ng-if="!modal.purchaseOrderList.length"></no-records>

                <md-radio-group ng-model="modal.selectedOrder">
                    <md-radio-button ng-value="item"
                                     class="md-primary search-product-row"
                                     ng-repeat="item in modal.purchaseOrderList track by $index"
                    >
                        <div class="grow-1 flex-row">
                            <div class="search-products-row w110px">
                                <div>{{ item.DisplayId }}</div>
                            </div>

                            <div class="search-products-row w300px">
                                <div>{{ item.Vendor.Name }}</div>
                            </div>

                            <div class="search-products-row w300px">
                                <div class="w300px">{{ item.CreatedBy.FullName }}</div>
                            </div>

                            <div class="search-products-row w110px">
                                <div class="w300px">{{ item.CreatedOn  | amUtc | amDateFormat: "MM/DD/YYYY" }}</div>
                            </div>
                        </div>
                    </md-radio-button>
                    <div class="flex-cont center"
                         ng-if="modal.purchaseOrderList.length && modal.totalCount > modal.purchaseOrderList.length"
                    >
                        <div ng-click="modal.showMore()"
                             class="show-more-btn"
                        >
                            <span>&nbsp;show more&nbsp;</span>
                        </div>
                    </div>
                </md-radio-group>

                <div class="flex-cont center" ng-show="modal.showMoreButton">
                    <div ng-click="modal.showMore()"
                         class="show-more-btn"
                    >
                        <span>&nbsp;show more&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">

        <md-button class="md-raised main-button"
                   ng-click="modal.cancel()"
        >Cancel</md-button>

        <md-button class="md-raised md-primary main-button"
                   ng-disabled="!modal.selectedOrder"
                   ng-click="modal.save()"
        >OK</md-button>

    </md-dialog-actions>
</div>
