<div class="patient-orders">

    <div class="order-items-filters patient-items-filters" ng-form="orders.filtersForm">
        <div class="item-number">#</div>
        <md-button class="clear-filters"
                   aria-label="..."
                   ng-click="orders.clearFilters()"
                   simple-tooltip="Refresh Orders">
            <md-icon md-svg-src="assets/images/default/clear-filters.svg"></md-icon>
        </md-button>
        <md-input-container class="content-header-select">
            <label></label>
            <md-select ng-model="orders.filters.type"
                       ng-change="orders.searchByFilter()"
                       placeholder="Select Type"
                       clear-on-click>
                <md-option ng-value="item.Id" ng-repeat="item in orders.orderTypes">
                    {{item.Text}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="content-header-select">
            <label></label>
            <md-select ng-model="orders.filters.status"
                       ng-change="orders.searchByFilter()"
                       placeholder="Select Status"
                       clear-on-click>
                <md-option ng-value="item.Id" ng-repeat="item in orders.orderStatuses">
                    {{item.Text}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="content-header-timepicker calendar_icon left-input-icon">
            <label></label>
            <input type="text"
                   name="fromDate"
                   placeholder="From:"
                   datetimepicker
                   format="MM/DD/YYYY"
                   max-date="today"
                   use-current="false"
                   ng-change="orders.searchByFilter()"
                   ng-model="orders.filters['createdDateFrom']"
                   ng-required="false"
                   start-date-validator
                   end-date="orders.filters['createdDateTo']"
                   clear-on-click>
            <div ng-messages="orders.filtersForm.fromDate.$error"
                 class="md-input-messages-nice">
                <div ng-message="startDate">Date <b>"From"</b> must be less than date <b>"To"</b></div>
            </div>
        </md-input-container>
        <md-input-container class="content-header-timepicker calendar_icon left-input-icon">
            <label></label>
            <input type="text"
                   name="toDate"
                   placeholder="To:"
                   datetimepicker
                   format="MM/DD/YYYY"
                   use-current="false"
                   end-date-validator
                   start-date="orders.filters['createdDateFrom']"
                   ng-required="false"
                   ng-model="orders.filters['createdDateTo']"
                   ng-change="orders.searchByFilter()"
                   clear-on-click>
            <div ng-messages="orders.filtersForm.toDate.$error"
                 class="md-input-messages-nice">
                <div ng-message="endDate">Date <b>"To"</b> must be greater than date <b>"From"</b></div>
            </div>
        </md-input-container>
        <md-button class="md-raised show-history" ng-click="orders.goToOrders()">
            <md-icon md-svg-src="assets/images/default/history.svg"></md-icon>
            History
        </md-button>
    </div>

    <no-records text="Orders"
                is-fullpage="true"
                ng-if="orders.orders.length === 0"></no-records>

    <div class="patient-order-item"
         ng-repeat="order in orders.orders track by order.Id"
    >
        <div class="patient-order-left-column">

            <div class="statuses-block">
                <div class="status-label {{order.StatusClass}}">{{order.State.Status.Text}}</div>
                <div class="status-label blue" ng-if="order.Type.Id === '2'">{{order.Type.Text}}</div>
            </div>

            <div class="delivery-statuses">
                <div class="delivery-status-stage active">
                    <div class="delivery-status-icon">
                        <md-icon md-svg-src="assets/images/default/clock-filled.svg"
                                 class="clock-icon"></md-icon>
                    </div>
                    <div class="delivery-status-text">Pending</div>
                </div>
                <div class="delivery-status-stage"
                     ng-class="{'active': order.State.DeliveryStatus.Id > 1}">
                    <div class="delivery-status-icon">
                        <md-icon md-svg-src="assets/images/default/track-in-progress.svg"
                                 class="track-icon"></md-icon>
                    </div>
                    <div class="delivery-status-text">In Progress</div>
                </div>
                <div class="delivery-status-stage"
                     ng-class="{'active': order.State.DeliveryStatus.Id > 2}">
                    <div class="delivery-status-icon">
                        <md-icon md-svg-src="assets/images/default/check.svg"
                                 class="check-icon"></md-icon>
                    </div>
                    <div class="delivery-status-text">Completed</div>
                </div>
            </div>

        </div>

        <div class="patient-order-content">
            <div class="patient-order-content-row flex-row">
                <div class="info-block block-width-150">
                    <div class="info-block-label">Order:</div>
                    <div class="info-block-body">
                        <a href="javascript:void(0);"
                           class="underline-after-link font-semibold"
                           ui-sref="root.orders.order.details({ orderId: order.Id })">
                            {{order.DisplayId}}
                        </a>
                    </div>
                </div>
                <div class="info-block block-width-150 left-divider">
                    <div class="info-block-label">Order Schedule Date:</div>
                    <div class="info-block-body">
                        {{ order.StartDate
                           ? (order.StartDate | amUtc | amDateFormat: "MM/DD/YYYY")
                           : '-'
                        }}
                    </div>
                </div>
                <div class="info-block block-width-35-percent left-divider">
                    <div class="info-block-label">Ref. Provider:</div>
                    <div class="info-block-body">
                        {{
                          order.Physician.Id
                              ? (order.Physician | referralDisplayName)
                              : '-'
                        }}
                    </div>
                </div>
                <div class="info-block left-divider grow-1"
                     ng-if="order.Physician.Practice">
                    <div class="info-block-label">Available For:</div>
                    <div class="info-block-body">{{order.Physician.Practice}}</div>
                </div>
            </div>

            <v-accordion class="vAccordion--default flow-accordion">
                <v-pane expanded="true"
                        bs-loading-overlay
                        bs-loading-overlay-reference-id="orderedItems{{ order.Id }}"
                >
                    <v-pane-header class="flow-accordion-title">
                        <md-icon md-svg-src="assets/images/default/chevron.svg"
                                class="flow-accordion-title-icon"
                        ></md-icon>
                        <span>Ordered Items:</span>
                        <div class="accordion-line"></div>
                    </v-pane-header>
                    <v-pane-content>
                        <div class="order-product"
                             ng-repeat="item in order.orderedItems track by $index"
                        >
                            <div class="flex-row">
                                <div class="info-block item-img block-width-100">
                                    <div class="item-img-container">
                                        <img src=""
                                             ng-src="{{
                                                 item.PictureUrl
                                                     ? (orders.WEB_API_INVENTORY_SERVICE_URI + item.PictureUrl)
                                                     : orders.noImage
                                             }}"
                                             alt="" class="item-img">
                                    </div>
                                </div>
                                <div class="info-block grow-1 min-w200px">
                                    <div class="info-block-label">Name:</div>
                                    <div class="info-block-body">{{item.Name}}</div>
                                </div>
                                <div class="info-block block-width-200 left-divider">
                                    <div class="info-block-label">Manufacturer:</div>
                                    <div class="info-block-body">{{item.Manufacturer || '-'}}</div>
                                </div>
                                <div class="info-block block-width-200 left-divider">
                                    <div class="info-block-label">ID/Part #:</div>
                                    <div class="info-block-body">{{item.PartNumber || '-'}}</div>
                                </div>
                                <div class="info-block block-width-100 left-divider">
                                    <div class="info-block-label">HCPCS:</div>
                                    <div class="info-block-body flex-cont">
                                        <div popover-directive="item.allHcpcsCodes"
                                             hide-first-item="true"
                                             min-width="50"></div>
                                    </div>
                                </div>
                                <div class="info-block block-width-100 left-divider">
                                    <div class="info-block-label">Qty:</div>
                                    <div class="info-block-body">{{item.Count}}</div>
                                </div>
                            </div>

                            <div class="flex-row pad-left-15"
                                 ng-if="item.Notes"
                            >
                                <div class="grow-1">
                                    <p>
                                        Note: {{ item.Notes }}
                                    </p>
                                </div>
                            </div>

                            <div class="item-components" ng-if="item.Product.Bundle">
                                <v-accordion class="flow-accordion grow-1">

                                    <v-pane expanded="false"
                                            bs-loading-overlay
                                            bs-loading-overlay-reference-id="bundleComponents{{ item.ProductId }}"
                                    >
                                        <v-pane-header class="flow-accordion-title"
                                                       ng-click="orders.getProductComponents(item)"
                                        >
                                            <md-icon md-svg-src="assets/images/default/chevron.svg"
                                                     class="flow-accordion-title-icon"
                                            ></md-icon>
                                            <span>Included Items:</span>
                                            <div class="accordion-line"></div>
                                        </v-pane-header>
                                        <v-pane-content>
                                            <table class="drowz-table regular-table">
                                                <tr class="drowz-table-header">
                                                    <th class="number-cell" width="45">#</th>
                                                    <th width="110">Image:</th>
                                                    <th>Name:</th>
                                                    <th>Manufacturer:</th>
                                                    <th>ID/Part #:</th>
                                                    <th>HCPCS:</th>
                                                    <th width="80">Qty</th>
                                                </tr>
                                                <tr class="drowz-table-row"
                                                    ng-repeat="component in item.Components">
                                                    <td class="number-cell">{{$index + 1}}.</td>
                                                    <td class="item-img-cell">
                                                        <div class="item-img-container">
                                                            <img src=""
                                                                 ng-src="{{
                                                                    component.PictureUrl
                                                                         ? (orders.WEB_API_INVENTORY_SERVICE_URI + component.PictureUrl)
                                                                         : orders.noImage
                                                                 }}"
                                                                 alt=""
                                                                 class="item-img">
                                                        </div>
                                                    </td>
                                                    <td ng-bind="component.Name"></td>
                                                    <td ng-bind="component.Manufacturer"></td>
                                                    <td ng-bind="component.PartNumber"></td>
                                                    <td>
                                                        <div class="flex-cont">
                                                            <div popover-directive="component.allHcpcsCodes"
                                                                 hide-first-item="true"
                                                                 min-width="50"></div>
                                                        </div>
                                                    </td>
                                                    <td ng-bind="component.Count"></td>
                                                </tr>
                                            </table>

                                            <no-records text="Components:"
                                                        class="no-records-small"
                                                        ng-if="item.Components.length === 0"
                                                        no-default-text="true">
                                            </no-records>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </div>
                        </div>

                        <div>
                            <no-records text="No ordered items"
                                        class="no-records-small no-records-height-75"
                                        ng-if="order.orderedItems.length === 0"
                            ></no-records>
                        </div>
                </v-pane-content>
                </v-pane>
            </v-accordion>

        </div>


        <div class="patient-order-sidebar">
            <div class="info-block">
                <div class="info-block-label">Created By:</div>
                <div class="info-block-body">
                    {{order.CreatedBy.FullName}}
                </div>
            </div>
            <div class="info-block">
                <div class="info-block-label">Created:</div>
                <div class="info-block-body">
                    {{ order.CreatedDate
                      ? (order.CreatedDate | localDateTime: "MM/DD/YYYY")
                      : '-'
                    }}
                    <span class="active-text">{{order.CreatedDate | localDateTime: "hh:mm A"}}</span>
                </div>
            </div>
            <div class="info-block" ng-if="order.ModifiedBy">
                <div class="info-block-label">Modified By:</div>
                <div class="info-block-body">
                    {{order.ModifiedBy.FullName}}
                </div>
            </div>
            <div class="info-block" ng-if="order.ModifiedDate">
                <div class="info-block-label">Modified:</div>
                <div class="info-block-body">
                    {{ order.ModifiedDate
                       ? (order.ModifiedDate | localDateTime: "MM/DD/YYYY")
                       : '-'
                    }}
                    <span class="active-text">{{order.ModifiedDate | localDateTime: "hh:mm A"}}</span>
                </div>
            </div>
        </div>
    </div>
    <ul ng-if="orders.totalCount && orders.totalCount > orders.paginationParams.pageSize"
        uib-pagination
        total-items="orders.totalCount"
        ng-model="orders.paginationParams.pageIndex"
        items-per-page="orders.paginationParams.pageSize"
        ng-change="orders.loadOrders(orders.paginationParams.pageIndex - 1)"
        max-size="orders.paginationParams.pageSize"
        class="pagination-sm tab-pagination"
        boundary-link-numbers="false"
        previous-text="&lsaquo;"
        next-text="&rsaquo;">
    </ul>
</div>
