.invoice-tasks {
    padding: 20px 15px 30px 30px;

    .invoice-task-item {
        padding: 5px 10px;
        border-bottom: 1px solid $lighter-gray-color;
        margin-top: 10px;

        .info-block {
            padding: 0 12px;
        }
    }


}
