<div class="date-set">
    <app-period-switch [period]="formatCentury()"
                   (prev)="prev()"
                   (next)="next()"
                   (modeChange)="modeChanged.emit($event)">
    </app-period-switch>
    <ul class="date-set__dates">
        <li *ngFor="let decade of _value"
            [ngClass]="
                {
                     'date-set__date': true,
                     'selected': isDecadeSelected(decade),
                     'not-allowed': !isAllowedDate(decade)
                }"
            (mousedown)="onDateSelected(decade)">
            {{ formatDecade(decade) }}
        </li>
    </ul>
</div>
