<div class="modal-window submit-invoice-modal">

    <a href="javascript:void(0);" ng-click="$ctrl.cancel()" class="close-modal"></a>

    <md-dialog-content class="md-dialog-content">

        <md-icon class="modal-icon" md-svg-src="assets/images/default/alert.svg"></md-icon>

        <div class="modal-title">
            <h2>Warning:</h2>
        </div>

        <p class="text-center">
            Some item(s) on resupply program will be delivered more often than allowed by payer rules. Do you wish to continue?
        </p>

    </md-dialog-content>

    <md-dialog-actions class="modalFooter">
        <md-button class="md-raised main-button" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary main-button" ng-click="$ctrl.save()">Confirm</md-button>
    </md-dialog-actions>

</div>
