.management-personnel-edit {
    .personnel-checkbox {
        margin: 15px 0 0 30px;
    }

    .autocomplete-list-item {
        line-height: 28px;

        .delete-autocomplete-item {
            top: 7px;
        }
    }
    .tags-item {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            display: inline-block;
            max-width: 150px;
        }
    }
}