<div class="infinite-scroll-bg">

    <!--<toolbar items="pricingList.toolbarItems"></toolbar>-->

    <a href="javascript:void(0);"
       class="toolbar-single-action"
       simple-tooltip="Add New Pricing Record"
       tooltip-position="left"
       ng-click="pricingList.addCode()"
    ></a>

    <div class="breadcrumbs transparent-bg">
        <a href="javascript:void(0)" ui-sref="root.dashboard">Home</a>
        <a href="javascript:void(0)" ui-sref="root.management">Management</a>
        <a href="javascript:void(0)" ui-sref="root.management.billing">Billing</a>
        <a href="javascript:void(0)" class="active">Pricing</a>
    </div>
    <infinity-table class="pricing-list"
                    load-items-promise="pricingList.getPricingList"
                    page-size="24"
                    item-alias="pricingItem"
                    filters-obj="pricingList.filter"
                    sort-obj="pricingList.sortExpr"
                    default-sort-field="'Name'"
                    default-sort-value="'true'"
                    cache-filters-key="pricingList.cacheFiltersKey"
    >
        <infinity-table-sort>
            <div class="pricing-name-td">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                <inftbl-sort-list param-name="Name">Name:</inftbl-sort-list>
            </div>
            <div class="hcpcs-td">
                <md-icon md-svg-src="assets/images/default/insurance.svg" class="main-sort-icon insurance-icon"></md-icon>
                HCPCS:
            </div>
            <div class="pricing-payer-td">
                <md-icon md-svg-src="assets/images/default/organization.svg" class="main-sort-icon organization-icon"></md-icon>
                <inftbl-sort-list param-name="PayerName">Payer:</inftbl-sort-list>
            </div>
            <div class="w130px">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                <inftbl-sort-list param-name="PayerPlanName">Payer Plan:</inftbl-sort-list>
            </div>
            <div class="grow-1">
                <md-icon md-svg-src="assets/images/default/location2.svg" class="main-sort-icon location-icon"></md-icon>
                Location:
            </div>
            <div class="w100px">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                Type:
            </div>
            <div class="w110px">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                <inftbl-sort-list param-name="Charge">Charge:</inftbl-sort-list>
            </div>
            <div class="w120px">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                <inftbl-sort-list param-name="Allowed">Allowed:</inftbl-sort-list>
            </div>
            <div class="w120px">
                <md-icon md-svg-src="assets/images/default/setup.svg" class="main-sort-icon user-icon"></md-icon>
                Effective:
            </div>
            <div class="w110px">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                Interval:
            </div>
            <div class="w100px no-divider">
                <md-icon md-svg-src="assets/images/default/documents.svg" class="main-sort-icon document-icon"></md-icon>
                Cycle:
            </div>
            <div class="assign-td no-divider">&nbsp;</div>
        </infinity-table-sort>

        <infinity-table-filters class="drowz-infinite-row-filter">
            <div class="pricing-name-td">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input type="text"
                           ng-model="$ctrl.filtersObj.Name"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="hcpcs-td">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input type="text"
                           ng-model="$ctrl.filtersObj.HcpcsCode"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="pricing-payer-td">
                <md-autocomplete class="drowz-infinite-autocomplete"
                                 md-no-cache="true"
                                 md-selected-item="$ctrl.filtersObj.PayerId"
                                 md-search-text="searchPayer"
                                 md-items="item in $parent.pricingList.getPayers(searchPayer)"
                                 md-item-text="item.Name"
                                 md-min-length="1"
                                 md-floating-label="search payer"
                                 ng-model-options="{debounce: 450}"
                                 md-menu-class="order-id-autocomplete"
                                 clear-on-click
                                 drowz-clear-value>
                    <md-item-template>
                        <span md-highlight-text="searchPayer" md-highlight-flags="^i">{{::item.Name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No payers were found
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div class="w130px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input type="text"
                           ng-model="$ctrl.filtersObj.PayerPlanName"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="grow-1">
                <md-input-container class="drowz-infinite-input-container">
                    <label>type location</label>
                    <input type="text"
                           ng-model="$ctrl.filtersObj.LocationName"
                           ng-model-options="{debounce: 450}"
                           clear-on-click>
                </md-input-container>
            </div>
            <div class="w100px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>select</label>
                    <md-select ng-model="$ctrl.filtersObj.Type"
                               clear-on-click>
                        <md-option ng-value="type" ng-repeat="type in $parent.pricingList.typeList">
                            {{::type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="w110px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input ng-model="$ctrl.filtersObj.Charge"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="w120px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input ng-model="$ctrl.filtersObj.Allowed"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="w120px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input ng-model="$ctrl.filtersObj.EffectiveFrom"
                           datetimepicker
                           use-current="false"
                           format="MM/DD/YYYY"
                           show-today-button="false"
                           aria-label="..."
                           clear-on-click>
                </md-input-container>
            </div>
            <div class="w110px">
                <md-input-container class="drowz-infinite-input-container">
                    <label>search</label>
                    <input ng-model="$ctrl.filtersObj.IntervalFrom"
                           ng-model-options="{debounce: 450}"
                           clear-on-click/>
                </md-input-container>
            </div>
            <div class="w100px no-divider">
                <md-input-container class="drowz-infinite-input-container">
                    <label>select</label>
                    <md-select ng-model="$ctrl.filtersObj.Cycle" clear-on-click>
                        <md-option ng-value="cycle"
                                   ng-repeat="cycle in $parent.pricingList.cycleList">
                            {{::cycle}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="assign-td filter-reset-btn">
                <inftbl-filter-reset-btn></inftbl-filter-reset-btn>
            </div>
        </infinity-table-filters>

        <infinity-table-row class="drowz-infinite-row hide-btns-row" ng-click="$parent.pricingList.editPricing(pricingItem.Id)">
            <div class="pricing-name-td">
                <span ng-bind="pricingItem.Name"></span>
                <span ng-if="!pricingItem.Name">-</span>
            </div>
            <div class="hcpcs-td">
                <span ng-bind="pricingItem.HcpcsCode"></span>
                <span ng-if="!pricingItem.HcpcsCode">-</span>
            </div>
            <div class="pricing-payer-td">
                <span ng-if="!pricingItem.PayerName">-</span>
                <span ng-bind="pricingItem.PayerName"></span>
            </div>
            <div class="130px">
                <span ng-if="!pricingItem.PayerPlanName">-</span>
                <span ng-bind="pricingItem.PayerPlanName"></span>
            </div>
            <div class="grow-1">
                <span ng-bind="pricingItem.LocationName"></span>
                <span ng-if="!pricingItem.LocationName">-</span>
            </div>
            <div class="w100px" ng-bind="pricingItem.Type.Name"></div>
            <div class="w110px font-semibold">
                $ <span ng-if="!pricingItem.Charge">0</span> <span ng-bind="pricingItem.Charge.Amount"></span>
            </div>
            <div class="w120px font-semibold">
                <span ng-bind="pricingItem.Allowed.Currency"></span>&nbsp;
                <span ng-bind="pricingItem.Allowed.Amount"></span>
            </div>
            <div class="w120px">
                <span ng-if="!pricingItem.Effective.From && !pricingItem.Effective.To">-</span>
                <span ng-bind='pricingItem.Effective.From | amUtc | amDateFormat: "MM/DD/YYYY"'></span>
                <span ng-if="pricingItem.Effective.To"> - </span>
                <span ng-bind='pricingItem.Effective.To | amUtc | amDateFormat: "MM/DD/YYYY"'></span>
            </div>
            <div class="w110px">
                <span ng-if="pricingItem.Interval">
                    <span ng-bind="(pricingItem.Interval.From) + '-' + (pricingItem.Interval.To)"></span>
                </span>
            </div>
            <div class="w100px no-divider" ng-bind="pricingItem.Cycle.Name"></div>
            <div class="assign-td no-divider">
                <div class="flex-cont space-around">
                    <md-button class="delete-icon-btn"
                               aria-label="..."
                               ng-class="{ 'hidden': pricingItem.Common }"
                               confirm-ng-click="$parent.pricingList.deletePricing(pricingItem.Id)"
                               confirm-msg="'Are you sure you want to delete the pricing?'"
                               confirm-title="Delete Pricing">
                        <md-icon md-svg-src="assets/images/default/trash.svg"></md-icon>
                    </md-button>
                    <md-icon class="pinned-icon"
                             md-svg-src="assets/images/default/pinned.svg"
                             ng-if="pricingItem.Common"></md-icon>
                </div>
            </div>
        </infinity-table-row>

        <infinity-table-no-items>
            <no-records text="Pricing Records" is-fullpage="true"></no-records>
        </infinity-table-no-items>
    </infinity-table>

</div>
